@if(userInfo) {
  <div class="header-container bg-gradient">
    <ion-row class="ion-justify-content-center">
      <ion-col size="fit-content">
        <ion-row class="ion-justify-content-center">
          <umu-avatar
            [avatarB64]="userInfo.avatarB64"
            [isEditable]="canEdit()" 
            (onUpdateAvatar)="onUpdateAvatar($event)"
          ></umu-avatar>
        </ion-row>
        <ion-row>
          <ion-col>
            @if(userInfo.surname && userInfo.surname !== '-'){
              <h2 class="ion-padding-bottom" style="color: white">
              {{ userInfo.name + ' ' + userInfo.surname }}
              </h2>
            } @else {
              <h2 class="ion-padding-bottom" style="color: white">
                {{ userInfo.name }}
              </h2>
            }
            
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>   
    <ion-row class="ion-justify-content-center">
      <div class="{{showProfValues()  ? 'prof-values-container' : 'prof-values-container prof-values-row'}}">
        @if(canEdit()) {
            <umu-fab-button horizontal="right" vertical="top" [iconPath]="iconPath" (click)="openProfValuesModal()"></umu-fab-button>
          }
          @for (profValue of userInfo.softSkills; track profValue) {
            <umu-prof-value-badge [name]="profValue.name"></umu-prof-value-badge>
          }
      </div>
    </ion-row>
  </div>
  <umu-profvalues-modal
    [isModalOpen]="isModalOpen"
    (onClose)="onCloseEvent()"
  ></umu-profvalues-modal>
} 

