.header-container {
    --background-color: transparent;
    max-width: 100%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 56px;
    margin-top: -56px;

    umu-avatar {
        --thumbnail-size: 100px;
    }

    h2 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-top: .60rem;
        margin-bottom: 0.25rem;
        padding-bottom: 0px;
    }
}

.profile-container, 
.prof-values-container {
    position: relative;
}

.prof-values-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
 

umu-avatar::ng-deep umu-fab-button {
    --ion-safe-area-right: 2.5rem; 
    --ion-safe-area-top: -.6rem;

    ion-fab.fab-vertical-top {
        top: calc(10px + var(--ion-safe-area-top));
    }
}
/* ¿Esto está funcionando?*/
ion-toolbar {
    max-width: var(--max-header-width);
    margin: auto;
}

umu-avatar::ng-deep ion-thumbnail {
    border-style: none;
    border-color: transparent;
}

.prof-values-container umu-fab-button { 
    --ion-safe-area-right: -1.6rem;
    --ion-safe-area-top: -1.6rem; 
    ion-fab.fab-vertical-top {
        top: calc(10px + var(--ion-safe-area-top));
    }
}

@media screen and (max-width: 576px) {
    .header-container {
        background: var(--ion-color-primary);
        h2 {
            font-size: 20px;
        }
    }
    .prof-values-row {
        display: none !important;
    }
    .prof-values-container umu-fab-button { 
        --umu-safe-area-right: .25rem;
    }

    .prof-values-container umu-prof-value-badge {
        width: 33%;
    }

    
}