<umu-only-toolbar-layout class="ion-page">
    <ion-toolbar>
        <ion-buttons slot="start">
            <umu-back-button></umu-back-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="chat-container">
        <iframe *ngIf="me?.chatAuthToken !== undefined" #rocketchat width="100%" height="100%" allow="camera;microphone" frameborder="1"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
        </iframe>
    </div>
</umu-only-toolbar-layout>