ion-toolbar {
    max-width: var(--max-header-width);
    margin: auto;
}

.chat-container {
    height: calc(100% - 56px); // minus header toolbar
    min-height: 80vh;
    width: 100%;
    max-width: var(--max-content-width);
    margin: auto;

    iframe {
        border: none;
    }
}