<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="new-offer" customIconName="offer" [backdropDismiss]="false">
  <form [formGroup]="form">
    <div class="flex-column">
      <umu-text-field
        labelId="title"
        placeholderId=""
        name="title"
        [required]="true"
        [minLength]="validators.titleMinLength"
        [maxLength]="validators.titleMaxLength"
        [control]="controls.title"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="min-studies"
        placeholderId=""
        name="eduLevel"
        [required]="true"
        [minLength]="validators.eduLevelMinLength"
        [maxLength]="validators.eduLevelMaxLength"
        [control]="controls.eduLevel"
        variant="modal"
      ></umu-text-field>

      <!-- TODO: update UI -->
      <umu-tag-input
        labelId="skills"
        name="tag"
        placeholderId="skills-ph"
        [autocomplete]="competenciesNames"
        [errorMinTags]="errorMinTags"
        (onAdd)="addCompetency($event)"
        (onDelete)="removeCompetency($event)"
        variant="modal"
      ></umu-tag-input>

      <umu-select-dropdown 
        labelId="city" 
        name="city"
        [required]="true"
        [control]="controls.city"
        [optionsTranslated]="translatedAndOrderedCities"
        variant="modal"
      >
      </umu-select-dropdown>
      
      <umu-select-dropdown 
        labelId="workday-type" 
        name="workHours"
        [required]="true"
        [control]="controls.workHours"
        [options]="workHourOptions"
        variant="modal"
      >
      </umu-select-dropdown>

      <umu-select-dropdown 
        labelId="working-model" 
        name="remote"
        [required]="true"
        [control]="controls.remote"
        [options]="remoteOptions"
        variant="modal"
      >
      </umu-select-dropdown>
      
      <umu-select-dropdown 
        labelId="contract-type" 
        name="contractType"
        [required]="true"
        [control]="controls.contractType"
        [options]="contractTypeOptions"
        variant="modal"
      >
      </umu-select-dropdown>

      <umu-select-dropdown 
        labelId="required-experience" 
        name="requiredExperience"
        [required]="true"
        [control]="controls.requiredExperience"
        [optionsTranslated]="translatedAndOrderedReqExp"
        variant="modal"
      >
      </umu-select-dropdown>

      <umu-text-field
        labelId="salary-range"
        placeholderId=""
        name="salaryRange"
        [required]="true"
        [minLength]="validators.salaryRangeMinLength"
        [maxLength]="validators.salaryRangeMaxLength"
        [control]="controls.salaryRange"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="description"
        placeholderId=""
        name="description"
        [required]="true"
        [minLength]="validators.descriptionMinLength"
        [maxLength]="validators.descriptionMaxLength"
        [control]="controls.description"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="requirements"
        placeholderId=""
        name="requirements"
        [required]="true"
        [minLength]="validators.requirementsMinLength"
        [maxLength]="validators.requirementsMaxLength"
        [control]="controls.requirements"
        variant="modal"
      ></umu-text-field>

      <div class="flex-column info">
        <label>{{'additional-info' | translate }}:</label>
        <umu-text-button color="background" (click)="openInfoAlert()">{{'select-file' | translate }}</umu-text-button> 
      </div>

      <!-- TODO: make a component and improve UI -->
      <!-- <ion-row>
        <ion-label position="stacked"><div class="custom-title textarea-title">
          {{'additional-info' | translate }}:
        </div></ion-label>
      
        <p class="ion-text-center" style="align-items: center; margin-top: 20px;">
          <ion-button fill="solid" color="primary" shape="round" class="custom-button">
          <label for="additional-file" class="select-btn-label"> {{'select-file' | translate }}</label>
        </ion-button>
        <input type="file" id="additional-file" accept=".pdf" (change)="onSelectFile($event)"  style="display:none">
        <ion-card>
          @if(filenames.length !== 0){
            <label>{{'selected-files' | translate }}: 
              @for (file of filenames; track $index) {
                <div>
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <ion-chip style="white-space: normal;">
                        <ion-label style="white-space: normal;">{{file}} </ion-label>
                      </ion-chip>
                    </ion-col>
                    <ion-col style="max-width: 30px;">
                      <ion-icon style="padding-left: 10px;" name="trash-outline" (click)="onDeleteFile(file)"></ion-icon>
                    </ion-col>
                  </ion-row>
                </div>
              }
            </label>
          }
        </ion-card>
        </p>
      </ion-row> -->
    </div>
    
  </form>
  <div class="grid-center ion-no-border" footer>
    <umu-text-button
      (click)="createOffer()" 
      [enabled]="form.valid && !errorMinTags"
    >
      {{'publish' | translate }}
    </umu-text-button>
  </div>
</umu-modal>