<umu-default-layout class="ion-page">
  <div class="grid-container">
    <umu-company-info-card></umu-company-info-card>
    <umu-info-card extTitle="manage-account">
      <div class="grid-container">
        <div class="grid-container">
          <umu-title type="h3">{{'lang-selection' | translate }}</umu-title>
          <umu-multilanguage position="relative" color="accent-contrast" [extended]="true"></umu-multilanguage>
        </div>
        <div class="grid-container">
          <umu-title type="h3">{{'delete-account' | translate}}</umu-title>
          <div class="flex-row align-left">
            <ion-icon slot="start" name="trash-outline" class="trash-icon"></ion-icon>
            <span class="underlined"><a href="delete-account" class="label">{{'delete-account-inf' | translate }}</a></span>
          </div>    
        </div> 
      </div>
      <div class="flex-row">
        <umu-text-button minWidth="292px" (click)="logOut()">{{'sign-out' | translate}}</umu-text-button>
      </div>   
    </umu-info-card>
  </div>
</umu-default-layout>
