umu-info-card {
    margin-bottom: 3rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
}

umu-info-text-list::ng-deep .grid-container {
    margin-bottom: 0;
}

.trash-icon {
    font-size: 1.5rem;
}

.label{
    color: var(--ion-color-accent-contrast);
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.align-left {
    justify-content: left;
}

umu-multilanguage::ng-deep div {
    margin-left: 0;
}