<div class="grid-center">
    <label style="max-width: 350px;">
      {{'entry-mode' | translate }}
    </label>
    <div class="flex-column">
      <umu-text-button 
        minWidth="340px"
        (click)="submit('candidate')"
      > 
        <b>{{'person' | translate }}</b>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </umu-text-button>
      <umu-text-button 
        minWidth="340px"
        (click)="submit('company')"
      >
        <b>{{'company' | translate }}</b>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </umu-text-button> 
    </div>  
  </div>