<div class="badge-container">
  @if(iconName() !== ''){
    <ion-icon [name]="iconName()" class="profValue-icon"></ion-icon>
  } @else if(iconPath() !== ''){
    <ion-icon [src]="iconPath()" class="profValue-icon"></ion-icon>
  }
  <h5>{{title() | translate}}</h5>
</div>