:host {
    margin: 1.5rem;
    display: block;
}

.card-container {
    padding: 3rem;
    border: 1px solid #5493B2;
    border-radius: 1.2rem;
    transition: all .4s ease-in-out;
    color: #18365C;
    position: relative;
    max-width: 90vw;
}

.grid-container {
    display: grid;
    gap: 2rem;
}

.header {
    umu-title {
        margin-bottom: 2rem;
        padding-right: 3rem;
        word-break: break-word;
    }
    display: grid;
    border-bottom: 2px solid var(--ion-color-accent);
}

umu-fab-button::ng-deep {
    --umu-safe-area-right: 3rem;
    --umu-safe-area-top: 2.3rem;
}

@media screen and (max-width: 576px) {
    
    .card-container {
        padding: 1.5rem;
    }
    
    umu-fab-button::ng-deep {
        --umu-safe-area-right: 1.5rem;
        --umu-safe-area-top: 1rem;
    }


    // .title-container {
    //     padding: 0px;

    //     .title {
    //         font-size: 20px;
    //         padding-left: 25px;
    //         display: -webkit-box;
    //         -webkit-box-orient: vertical;
    //         -webkit-line-clamp: 2;
    //         overflow: hidden;
    //         margin-top: 10px;
    //         margin-bottom: 10px;
    //     }
    // }

    
    umu-text-button::ng-deep ion-button {
        width: 295px;
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
    }

}