<div class="grid-container">
    @if(extTitle()){
        <umu-title type="h4">{{ extTitle() | translate }}</umu-title>
    } 
    <div class="card-container">
        @if(intTitle()){
            <div class="header">
                <umu-title type="h1">{{intTitle()}}</umu-title>
            </div>
        }
        @if(isEditable()){
            <umu-fab-button horizontal="right" vertical="top" [iconPath]="iconPath" (click)="onEditHandler()"></umu-fab-button>
        }
        <ng-content></ng-content>
    </div>
</div>
