<ion-header class="{{headerScrolled === true ? 'ion-no-border bg-gradient' : 'ion-no-border bg-transparent'}}" >
    <umu-toolbar ></umu-toolbar>  
</ion-header>
<ion-content fullScreen="true" [scrollEvents]="true" (ionScroll)="onScroll()">
  <umu-header [canEdit]="canEditHeader" [showProfValues]="showProfValues" class="bg-gradient" id="targetSection" [user]="user()"></umu-header>
  <ion-toolbar class="toolbar-container-inner">
    <ion-buttons slot="start">
      <umu-back-button></umu-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="content-container-inner">
    <ng-content></ng-content>
  </div>
</ion-content>
<umu-main-menu-mobile></umu-main-menu-mobile>