
.content-container-inner {
    max-width: var(--max-content-width);
    margin: auto;
}
.toolbar-container-inner {
    max-width: var(--max-header-width);
    margin: auto;
}

@media screen and (max-width: 576px) {
    .bg-gradient {
        background: var(--ion-color-primary);
    }
}

