<umu-default-layout class="ion-page">
  <div class="grid-container">
    <umu-candidate-info-card></umu-candidate-info-card>
    <umu-info-card extTitle="manage-account">
      <div class="grid-container">
        <div class="grid-container">
          <umu-title type="h3">{{'lang-selection' | translate }}</umu-title>
          <umu-multilanguage position="relative" color="accent-contrast" [extended]="true"></umu-multilanguage>
        </div>
        <div class="grid-container">
          <umu-title type="h3">{{'delete-account' | translate}}</umu-title>
          <div class="flex-row align-left">
            <ion-icon slot="start" name="trash-outline" class="trash-icon"></ion-icon>
            <span><a class="label" (click)="openDeleteAccountAlert()">{{'delete-account-inf' | translate }}</a></span>
            <umu-alert
              [isOpen]="isOpenDeleteAccountAlert"
              message="delete-account-conf"
              button1="no"
              button2="yes-delete"
              (onClickButton1)="closeDeleteAccountAlert()"
              (onClickButton2)="goToDeleteAccount()"
            ></umu-alert>
          </div>    
        </div> 
      </div>
      <div class="flex-row">
        <umu-text-button minWidth="292px" (click)="logOut()">{{'sign-out' | translate}}</umu-text-button>
      </div>   
    </umu-info-card>
  </div>
</umu-default-layout>                                                            