
.flex-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.align-left {
    justify-content: left;
}

.trash-icon {
    font-size: 1.5rem;
}

.label{
    color: var(--ion-color-text);
    text-decoration: underline;
}

.label:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    gap: 1rem;
}

umu-multilanguage::ng-deep div {
    margin-left: 0;
}
