.grid-container {
    display: grid;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-flow: wrap;
    gap: 1.5rem;
}

umu-title {
    margin-bottom: .7rem;
}

ion-chip {
    color: var(--ion-color-accent-contrast);
    font-weight: 600;
    font-size: 16px;
    padding: .7rem 2rem .7rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--ion-color-tertiary);
    margin: 0;
    cursor: default;
}