<div class="grid-container">
    @if(title()){
        <umu-title type="h3">{{ title() | translate }} </umu-title>
    }
    
    <div class="flex-row">
        @for(item of options(); track item){
            <ion-chip> {{item.name | translate}}</ion-chip>
        }
    </div>
    
</div>