/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    --ion-background-color: var(--ion-color-dark-upmeup); 
    ion-button { --border-radius: 25px !important; margin-left: 15px; margin-right: 15px; margin-bottom: 30px; font-weight: bold; height: 40px; }
    ion-toggle {
        width: 50px;
        height: 30px;
        padding: 12px;
        --border-radius: 60px;
        --background-border: solid 5px white;
        --background: #D7D8DA;
        --background-checked: var(--ion-color-accent);

        --handle-background: white;
        --handle-background-checked: white;
        --handle-height: 16px;
        --handle-width: 16px;
        --handle-spacing: 3px;

        --handle-box-shadow: none;

        /* Required for iOS handle to overflow the height of the track */
        overflow: visible;
        contain: none;

    }

    ion-toggle::part(track) {
        border: 2px solid white;
    }
}

ion-header {
    ion-title {
        white-space: normal;
    }
}