<umu-default-layout class="ion-page">
  <div class="content-container-inner">
    <div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="fit-content">
          <ion-title>
            {{'offers' | translate }}
          </ion-title>
        </ion-col>
        <ion-col size="fit-content">
          <umu-text-button (click)="openNewOfferModal()">
            {{'new-offer' | translate }} 
          </umu-text-button>
          <umu-new-offer-modal 
            [isOpen]="isModalOpen" 
            (onClose)="onCloseEvent()" 
            title="new-offer" 
            id="new-offer"
          ></umu-new-offer-modal>
        </ion-col>
      </ion-row>
      @if(!myOffers){
        <div class="noEnrolled ion-padding">
          <ion-label>
            <ion-text color="dark">{{'company-offer-none' | translate }}</ion-text>
          </ion-label>
        </div>
      }
    </div>
    <umu-card-list [items]="myOffers"></umu-card-list>
    <umu-infinite-scroll [items]="myOffers" (onNewPage)="onNewPageHanlder($event)" [currentPage]="currentPage"></umu-infinite-scroll>
  </div>
</umu-default-layout>