.flex-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

umu-text-field[variant="modal"]::ng-deep {
    #coverLetter {
        padding-bottom: 6rem;
        padding-top: 1.5rem;   
    }
    #video, #lastJobTasks {
        padding-bottom: 3.5rem;
        padding-top: 1.5rem;
    }

    input {
        font-size: 16px;
    }
}