<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="edit-profile" customIconName="offer">
  <form [formGroup]="form">
    <div class="flex-column">
      <umu-text-field
        labelId="name"
        placeholderId=""
        name="name"
        [required]="true"
        [minLength]="nameMinLength"
        [maxLength]="nameMaxLength"
        [control]="controls.name"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="surname"
        placeholderId=""
        name="surname"
        [required]="true"
        [minLength]="surnameMinLength"
        [maxLength]="surnameMaxLength"
        [control]="controls.surname"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="email"
        placeholderId=""
        name="email"
        [required]="true"
        [minLength]="emailMinLength"
        [maxLength]="emailMaxLength"
        [control]="controls.email"
        variant="modal"
      ></umu-text-field>

      <umu-select-dropdown 
        labelId="city" 
        name="city"
        placeholderId="select"
        [required]="true"
        [control]="controls.city"
        [optionsTranslated]="translatedAndOrderedCities"
        variant="modal">
      </umu-select-dropdown>

      <umu-text-field
        labelId="education"
        placeholderId=""
        name="eduLevel"
        [required]="true"
        [minLength]="eduLevelMinLength"
        [maxLength]="eduLevelMaxLength"
        [control]="controls.eduLevel"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="last-job"
        placeholderId=""
        name="jobPosition"
        [required]="true"
        [minLength]="jobPosMinLength"
        [maxLength]="jobPosMaxLength"
        [control]="controls.jobPosition"
        variant="modal"
      ></umu-text-field>

      <umu-select-dropdown 
        labelId="sectors" 
        name="sector"
        placeholderId="select"
        [required]="true"
        [multiple]="true"
        [control]="controls.sector"
        [optionsTranslated]="translatedAndOrderedSectors"
        variant="modal">
      </umu-select-dropdown>

      <umu-text-field
        class="experience-input"
        labelId="experience-cap"
        type="number"
        name="experience"
        [min]="0"
        [max]="99"
        unitsId="years"
        [required]="true"
        [control]="controls.experience"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
          labelId="experience-description"
          placeholderId=""
          name="lastJobTasks"
          [required]="true"
          [minLength]="lastJobMinLength"
          [maxLength]="lastJobMaxLength"
          [control]="controls.lastJobTasks"
          variant="modal"
        ></umu-text-field>


      <umu-tag-input
        labelId="skills"
        name="tag"
        formName="competencies"
        placeholderId="skills-ph"
        [previousValues]="selectedCompetencies"
        [autocomplete]="competenciesNames"
        [errorMinTags]="errorMinTags"
        (onAdd)="addCompetency($event)"
        (onDelete)="removeCompetency($event)"
        variant="modal"
      ></umu-tag-input>

      <umu-select-dropdown 
        labelId="languages" 
        name="lang"
        placeholderId="select"
        [required]="true"
        [multiple]="true"
        [control]="controls.lang"
        [optionsTranslated]="translatedAndOrderedLangs"
        variant="modal">
      </umu-select-dropdown>

      <umu-text-field
        labelId="cover-letter"
        placeholderId="placeholder-cover-letter"
        name="coverLetter"
        [maxLength]="converLetterMaxLength"
        [control]="controls.coverLetter"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="video"
        placeholderId="your-url"
        name="video"
        [control]="controls.video"
        variant="modal"
      ></umu-text-field>
    </div> 
  </form>
  <div class="grid-center ion-no-border" footer>
    <umu-text-button
      (click)="submitForm()" 
      [enabled]="!form.valid && !errorMinTags"
    >
      {{'update' | translate }}
    </umu-text-button>
  </div>
</umu-modal>