<form [formGroup]="form" class="grid-container">

  <div class="grid-center">
    <label>{{ 'image-entity' | translate }}</label>
    <umu-avatar (onUpdateAvatar)="onUpdateAvatar($event)" [isEditable]="true"></umu-avatar>
    <p>* {{'recommended-size' | translate }}50x50px</p>
  </div>

  <umu-text-field
    labelId=""
    placeholderId="name"
    name="name"
    [required]="true"
    [minLength]="companyNameMinLength"
    [maxLength]="companyNameMaxLength"
    [control]="controls.name"
  ></umu-text-field>

  <umu-select-dropdown
    labelId="legal-form"
    placeholderId="select"
    name="legalForm"
    [optionsTranslated]="translatedAndOrderedLegalForms"
    [required]="true"
    [maxLength]="80"
    [control]="controls.legalForm"
  ></umu-select-dropdown>

  <umu-select-dropdown
    labelId="registered-office"
    placeholderId="select"
    name="city"
    [optionsTranslated]="translatedAndOrderedCities"
    [required]="true"
    [maxLength]="80"
    [control]="controls.city"
  ></umu-select-dropdown>

</form>