
.custom-padding {
    padding: 0 20px;
}

.v-line {
    border-left: solid var(--ion-color-primary);
    margin-top: 15px;
    padding-top: 5px;
}

.flex-row {
    display: flex;
    gap: 1rem;
}

ion-text {
    font-size: 16px;
}

ion-row {
    margin-top: 30px;

    ion-col {
        padding: 0;
    }

    ion-col + ion-col {
        margin-left: 20px;
    }

    ion-col:nth-child(1) {
        margin-bottom: 30px;
    }
    
    ion-col:nth-child(2) {
        margin-left: 0;
        order: 2;
    }

    ion-col:nth-child(3) {
        order: 3;
    }

    ion-col:nth-child(4) {
        order: 4;
    }
}

.umu-filters-button {
    cursor: pointer;

    ion-icon {
        display: inline-block;
        width: 15px;
        height: 12px;
        margin-right: 6.5px;
    }

    span {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: var(--ion-color-accent-contrast);
    }

    .filter-ico {
        background: url('src/assets/icons/filter.svg') 0 0 / 15px 12px no-repeat;
    }
    
}



umu-text-button::ng-deep ion-button{
    height: 42px;
    width: max-content;
    margin-top: 0px;
    --padding-start: 28px;
    --padding-end: 28px;
}

umu-text-button::ng-deep span {
    font-size: 16px;
}


.subtitle {
    color: var(--ion-color-primary);
}

ion-title {
    font-size: 30px;
    font-weight: 600;

    .title-offer {
        font-size: 28px;
        font-weight: 500;
    }

}

.alert-radio-group.sc-ion-alert-md {
    max-height: 100%;
}

@media(max-width: 1039px){
   
    umu-search-bar::ng-deep span {
        display: none;
    }
}

@media(max-width: 576px) {
    ion-grid > ion-row {
        justify-content: space-between;

        ion-col:nth-child(1) {
            order: 1;
        }
    
        ion-col:nth-child(2) {
            order: 3;
        }
    
        ion-col:nth-child(3) {
            order: 4;
        }
    
        ion-col:nth-child(4) {
            margin-bottom: 30px;
            order: 2;
        }
    }
}
