<div class="card-container" (click)="onClickOfferCard()">
  <div class="card-header">
    <ion-row>
      <ion-col size="3" class="avatar-col">
        <ion-thumbnail class="avatar">
          @if(item().user.avatarB64){
            <img [src]="item().user.avatarB64" />
          } @else if (!item().user.avatarB64) {
            <img src="/assets/avatar.svg" />
          }
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9" class="{{item().enrolled ? 'title-container enrolled' : 'title-container'}}">
        <h2 class="title" cy-data="offer-title" > {{ item().title }} </h2>
        @if(isSmallScreen === false){
          <h3 class="company"> {{ item().user.name | translate }} </h3>
        }
        @if(userType === 'candidate' && item().enrolled && !isProjectPage){
              <umu-mini-tag 
                infoId="{{offerStatus === 'INACTIVE' ? 'offer-inactive': 'enrolled-offer'}}" 
                [iconName]="offerStatus === 'INACTIVE' ? iconInfo : iconCheckCircle" 
                class="{{offerStatus === 'INACTIVE' ? 'inactive' : 'enrolled'}}">
              </umu-mini-tag>
        } @else if (item().enrolled && isProjectPage === true) {
            <umu-mini-tag 
              infoId="{{offerStatus === 'INACTIVE' ? 'offer-inactive': 'interested'}}" 
              [iconName]="offerStatus === 'INACTIVE' ? iconInfo : iconCheckCircle" 
              class="{{offerStatus === 'INACTIVE' ? 'inactive' : 'enrolled'}}">
            </umu-mini-tag>
        } @else if(userType === 'company' && isProjectPage === false) {
          <umu-fab-button horizontal="right" vertical="top" [iconPath]="iconPath" (click)="openEditItemModal($event)"></umu-fab-button>
          <umu-edit-offer-modal 
            [offer]="item()"
            [isOpen]="isModalOpen" 
            (onClose)="onCloseEvent()" 
          ></umu-edit-offer-modal>
        } 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="company-col">
        @if(isSmallScreen === true){
          <h3 class="company"> {{ item().user.name | translate }} </h3>
        }
        <p class="details"> {{ item().createdDate | date:'dd/MM/yyyy' }} | {{item().city | translate }} | {{ item().remote ? item().remote : item().status | translate }} </p>
        @if(!isProjectPage && item().salaryRange){
          <p class="details"> {{ item().salaryRange }}€ | {{ item().workHours | translate }} </p>
        } @else if (isProjectPage) {
          <p class="details">
            @for(sector of item().sector.slice(0, 3); track sector; let isLast = $last){
              {{ sector.name | translate }}{{!isLast ? ' | ' : ''}}
            }
          </p>
        }
      </ion-col>
    </ion-row>
  </div>
  <div class="card-content">
    <ion-row>
      <ion-col class="content">
        <p class="description"> {{ item().description | translate }} </p>
        @if(userType === 'candidate') {
          <small class="match-text">{{'compatibility-level'| translate}}</small>
        } 
      </ion-col>
    </ion-row>
    <ion-row>
      @if(userType === "candidate" || (userType === "company" && isProjectPage)){
        <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="item().match ? item().match : item().matchScore">
          <div slot="start">
            <h3 class="match">{{item().match ? item().match : item().matchScore}}%</h3>
          </div>
        </ion-range>      
        <umu-mini-tag [info]="peopleEnrolled" [iconName]="iconPeoplePath" class="people-enrolled"></umu-mini-tag>
      } @else if (userType === "company" && currentPage === companyOfferPage) {
        <small class="small">{{ 'registered-people' | translate}}: {{peopleEnrolled}}</small>
        <umu-text-button [minWidth]="minWidth">{{'registered-people-sight' | translate}}</umu-text-button>
      }
    </ion-row>
  </div>
</div>

