.card-container {
    position: relative;
    width: 100%;
    height: 336px;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #5493B2;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    color: #18365C;

    ion-thumbnail.avatar {
        width: 100px;
        height: 100px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }

    .title-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 900;
    }

    .enrolled {
        justify-content: flex-end;
    }

    .title,
    .company {
        color: var(---ion-color-login-dgDark);
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 235px;
    }

    .company {
        font-size: 1rem;
        font-weight: 500;
    }

    .details {
        color: #999999;
        font-size: .9rem;
        font-weight: 500;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 55px;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
        margin-top: 0;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: solid 2px var(--ion-color-accent);
    }

    .match-text {
        color: var(--ion-color-medium-grey);
    }

    .match {
        color: var(--ion-color-login-dgDark);
        font-weight: 500;
    }

    ion-range {
        padding-top: 0;
        pointer-events: none;
        --knob-box-shadow: 0 0 0 4px white;
        --bar-background: #D9D9D9;
        --bar-background-active: var(--ion-color-accent-contrast);
        --bar-height: 6px;
        --bar-border-radius: 6px;
        --knob-background: var(--ion-color-accent-contrast);
        --knob-size: 20px;
    }

    umu-fab-button {
        color: var(--ion-color-accent);
        --umu-safe-area-right: 0rem; 
        --umu-safe-area-top: 0rem;
      
        &::ng-deep div ion-button {
            --box-shadow: none !important;
        }
    }

    .small {
        color: #999999;
    }

}
umu-text-button {
    padding-left: 5px;
}
umu-text-button::ng-deep ion-button {
    width: 450px;
    margin: 0;
    margin-top: 10px;
}

.card-container:hover {
    border-color: var(--ion-color-dark-green);
}

umu-mini-tag::ng-deep .tag-icon img {
    width: 18px;
    height: 25px;
    
}


umu-mini-tag.enrolled::ng-deep {

    &>div {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 25px;
        width: 100px;
        background-color: var(--ion-color-tertiary);
        border-radius: 3px;
        padding: 6px 4px 6px 4px;

        .tag-icon {
            display: flex;
            width: 25%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 15px;
            }
        }

        .tag-info {
            font-size: 12px;
            font-weight: bold;
            line-height: normal;  
        }
    }

    


}

umu-mini-tag.people-enrolled::ng-deep {
    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;
        margin-left: 15px;
        margin-top: 10px;

        .tag-icon {
            padding: 4px;
        }

        .tag-info {
            margin-left: 5px;
            font-weight: 900;
        }
    }
}

umu-mini-tag.inactive::ng-deep {
    &>div {
        padding-top: 10px;
        padding-right: 10px;
        text-align: left;

        img {
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
        }

        .tag-info {
            padding-left: 5px;
            font-size: 16px;
        }
    }
    
}

@media (max-width: 1020px) {

    .card-container {
        width: 100%;
        max-width: 500px;
        min-width: 335px;

        .avatar>img {
            width: 70px;
            height: 70px;
        }
    }
}

@media screen and (max-width: 576px) {
    .card-container {
        width: 100%;
        height: 364px;
        padding: 15px;
    }

    .card-header ion-row ion-col ion-thumbnail {
        width: 80px;
        height: 80px;
        margin: 0px;
    }

    .title-container {
        padding: 0px;

        .title {
            font-size: 20px;
            padding-left: 25px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .company {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .card-content {
        .content {
            padding-left: 0px;
            padding-top: 12px;
        }
    }

    .avatar {
        padding: 0px;
    }

    .company-col {
        padding: var(--ion-grid-column-padding-sm);
    }

    .avatar-col {
        margin: 0px;
    }
    
    umu-text-button::ng-deep ion-button {
        width: 295px;
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
    }

}