:host {
 display: inline-block;
 --width: auto;
}

ion-button {
    font-weight: 500;
    text-transform: initial;
    border-radius: 60px;
    font-size: 18px;
    height: 44px;
    width: var(--width);
    --padding-top: 18px;
    --padding-bottom: 18px;
    --padding-start:48px;
    --padding-end: 48px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    --border-style: solid;
    --border-width: 1px;
}

span {
    display: block ruby;
}
