.softskill > ion-toggle {
    width: 50px;
    height: 30px;
    padding: 12px;
    padding-left: 0;
    --border-radius: 60px;
    --background-border: solid 5px white;
    --background: var(--ion-color-bg-primary);
    --background-checked: white;
    --track-background-checked: var(--ion-color-text);
    --handle-background: white;
    --handle-background-checked: var(--ion-color-accent);
    --handle-height: 16px;
    --handle-width: 16px;
    --handle-spacing: 3px;

    --handle-box-shadow: none;

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
    contain: none;

    &::part(track) {
        border: 2px solid white;
        width: 50px;
        height: 30px;
    }

}

.value-item {
    background: #D2E9E1;
    border-color: #5493B2;
}

umu-title {
    display: block;
    margin-top: 1rem;
}

.grid-center {
    display: grid;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.softskills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.softskill {
    display: flex;
}

ion-item::part(native), ion-col, ion-grid {
    padding: 0;
    margin: 0
}
