<umu-modal [isOpen]="isModalOpen()" (onClose)="onCloseHandler()" title="edit-softskills" customIconName="edit_icon">
  <div class="flex-column">
    @if(!userSkills) {
      <div class="ion-margin">
        <p>{{'no-values-selected' | translate }}</p>
      </div>
    }
    @if(userSkills?.length > 0){
      <umu-info-options-list title="your-values" [options]="userSkills"></umu-info-options-list>
    }
    <!-- <ion-label class="condition">* {{ 'max-value' | translate : {max: maxSoftSkills } }}</ion-label> -->
    <div  class="softskills-container">
      <umu-title type="h3">{{ 'update-values' | translate }} </umu-title>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-item lines="none">
              <div class="softskills">
                @for(softSkill of softSkillsList; track softSkill._id){
                  <div class="softskill">
                    <ion-toggle 
                      (ionChange)="toggleSkill(softSkill._id)" 
                      slot="start"
                      [checked]="userSkillsIds.has(softSkill._id)"
                      [disabled]="userSkills?.length>=maxSoftSkills && !userSkillsIds.has(softSkill._id)"
                    ></ion-toggle>
                    <p>{{softSkill.name | translate}}</p>
                  </div>
                }
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> 
  </div>
  
  <div class="grid-center" footer>
    <umu-text-button
      (click)="updateSkills()" 
      [enabled]="!(userSkills?.length < maxSoftSkills)"
    >
      {{'update' | translate }}
    </umu-text-button>
  </div>
</umu-modal>