
h2 {
    display: inline;
    padding: 0 1rem;
    box-decoration-break: clone;
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-transform: uppercase; 
    line-height: 1.5;
    background-color: var(--ion-color-primary);
}

h3 {
    display: inline;
    padding: 0 1rem;
    box-decoration-break: clone;
    font-size: 40px;
    font-weight: 800;
    color: var(--ion-color-accent);
    text-transform: uppercase; 
    line-height: 1.5;
    background-color: white;
    text-align: end;
}