@if(!wasDisplayed) {
  <umu-banner
  (onClose)="onCloseBanner()"
  [isOpen]="isOpen"
  [backgroundImg]="'../../assets/background-img/' + ads[selectedAdIndex].img"
  >
    <ion-row>
      <div>
        <h2>{{ads[selectedAdIndex].id | translate}}</h2> 
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <div>
        <h3>{{ads[selectedAdIndex].id + '-author' | translate}}</h3>
      </div>
    </ion-row>
</umu-banner>
}
