ion-content > div {     
    
    min-height: 100vh;
    padding-top: 4rem;

    .container-login { padding:40px; margin-bottom: 10%; width: 500px;}
    .content-logo { margin-top: 30%; margin-bottom: 10%; }

    h3 {
        color: white;
        text-align: center;
    }
    
    div.input-container { 
        background: #FFF; 
        border-radius: 40px; 
        padding: 10px; 
        margin: 15px; 
    
        input, input[type="text"], input[type="password"], 
        input:focus, input:focus-visible { border: 0; text-align: center; outline: none ; font-size: 15px; color: var(--ion-color-primary); }    
        ::placeholder { color: var(--ion-color-text); }
    }
   
    a { font-size: 15px; color: #FFF; }
    ion-button { --border-radius: 25px !important; margin-left: 15px; margin-right: 15px; margin-top: 30px; font-weight: bold; height: 40px; }
 
    .error-box { padding: 5px; border-radius: 5px; background: #2d2d2dbd; }
    .text-error { font-size: 15px; }
    ion-list .error { font-size: 15px; color: #eb445a; }
    
    .h-divider { 
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px;

        span { color: #FFF; }
    }

    .h-divider::after,
    .h-divider::before {
        content: "";
        border: 1px solid #c7c7c7;
        flex: 1;
    }
    
    .h-divider:not(:empty)::before {
        margin-right: 0.25em;
    }
      
    .h-divider:not(:empty)::after {
        margin-left: 0.25em;
    }
}