:host{
    display: block;
}

ion-range {
    padding-top: 0;
    pointer-events: none;
    --knob-box-shadow: 0 0 0 4px white;
    --bar-background: #D9D9D9;
    --bar-background-active: var(--ion-color-accent-contrast);
    --bar-height: 6px;
    --bar-border-radius: 6px;
    --knob-background: var(--ion-color-accent-contrast);
    --knob-size: 20px;
}

ion-range::ng-deep .match {
    font-weight: 900;
}

.grid-container {
    display: grid;
    gap: .7rem;
}

span {
    color: #999999;
}
