<div class="grid-container">
    @if(title()){
      <span>{{ title() | translate }} </span>  
    }
    <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="value()">
        <div slot="start">
        <h3 class="match">{{value()}}%</h3>
        </div>
    </ion-range>
</div>
