.stepper {
    display: grid;
    margin-top: 80px;

    .step:not(:first-child) {
        div::before {
            content: '';
            display: block;
            height: 4px;
            width: 100%;
            background-color: white;
            opacity: 70%;
            position: absolute;
            top: 16px;
            right: calc(50% + 1px);
        }
    }

    .step {
        display: grid;
        justify-items: center;
        position: relative;

        div {
            background-color: white;
            border-radius: 100%;
            text-align: center;
            aspect-ratio: 1/1;
            font-weight: 600;
            font-size: 16px;
            width: 34px;
            height: 34px;
            display: grid;
            align-items: center;
            justify-items: center;

            span {
                z-index: 2;
            }

        }

        p {
            color: white;
            margin-top: 6px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
        }
    }

    .step:not(:first-child).success {
        div::before {
            background-color: var(--ion-color-accent);
        }
    }

    .success {
        div {
            background-color: var(--ion-color-accent);
            color: var(--ion-color-accent-contrast);
        }

        p {
            color: var(--ion-color-accent);
        }
    }
    .active {
        div {
            z-index: 1
        }
    }

}

@media only screen and (max-width: 1100px) {

    .steper {
        grid-template-columns: 2;
    }

    .no-label {
        display: none;
    }

}