<div class="stepper" #stepperContainer >
  @for(step of steps(); track $index ){
    <div 
      class="step {{ currentStep() >= $index ? 'success' : ''}} {{ currentStep() === $index ? 'active' : ''}}"
      (click)="handleStepClick($index)"
    >
      <div>
        <span>{{ $index + 1}}</span>
      </div>
      <p class="{{ currentStep() === $index ? 'label' : 'no-label'}}">{{step | translate}}</p>
    </div>
  }
</div>