<form (ngSubmit)="onFilter()" [formGroup]="filters">
   <div class="search-bar-container">
    <ion-item>
        <ion-input formControlName="search" placeholder="{{ placeholder() | translate }}"></ion-input>
    </ion-item>
    <span (click)="onFilter()">{{ 'search' | translate }}</span>
    <!-- <button type="submit"></button> -->
        
   </div> 
</form>
