.search-bar-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    height: 42px;
    position: relative;
    border-color: rgba(153, 153, 153, 1);

    ion-item {
        height: 40px ;
        width: 80%;
        border-radius: 50px 0 0 50px;
        
    }

    ion-input {
        position: absolute;
        bottom: 3px;
        margin-left: 10px;
    }

    span {
        position: absolute;
        right: 25px;
        bottom: 10px;
        border-left: solid 1px;
        border-color: rgba(153, 153, 153, 1);
        padding-left: 15px;
        font-size: 16px;
        font-weight: 600;
        color:rgba(70, 107, 110, 1);
        cursor: pointer;
    }
}

ion-input::placeholder {
    font-size: 16px;
}