<form [formGroup]="form" class="grid-container">
  <umu-text-field
    labelId="user-password"
    placeholderId="email"
    type="email"
    name="email"
    [required]="true"
    [control]="controls.email"
  ></umu-text-field>

  <umu-text-field
    labelId=""
    placeholderId="password"
    type="password"
    name="password"
    [required]="true"
    [minLength]="passwordMinLength"
    [maxLength]="passwordMaxLength"
    [control]="controls.password"
  ></umu-text-field>

  <umu-text-field
    labelId="confirm-password"
    placeholderId="confirm-password"
    type="password"
    name="confirmPassword"
    [required]="true"
    [minLength]="passwordMinLength"
    [maxLength]="passwordMaxLength"
    [control]="controls.confirmPassword"
  ></umu-text-field>
</form>