<umu-default-layout class="ion-page" *ngIf="userInfo">
    <div class="container"> 
    <h2>{{'delete-account-inf' | translate }}</h2>
    <ion-text style="font-size: 24px; font-weight: 500; text-align: center;">{{'delete-steps' | translate }}</ion-text>
    <ion-text style="font-size: 24px; font-weight: 500; text-align: center;">{{'miss-u' | translate }} 🥺</ion-text>
      <div class="steps" style="max-width: 100%; padding-bottom: 100px; padding-top: 50px;">
            <ion-col>
              <img src="../../../assets/airplane.png">
              <p class="title">1. {{'delete-step-1-tit' | translate }}</p>
              <ion-text>{{'delete-step-1' | translate }}</ion-text>
            </ion-col>
            <ion-col>
              <img src="../../../assets/mail.png">
              <p class="title">2. {{'delete-step-2-tit' | translate }}</p>
              <ion-text>{{'delete-step-2' | translate }}</ion-text>  
            </ion-col>
            <ion-col>
              <img src="../../../assets/ok.png">
              <p class="title">3. {{'delete-step-3-tit' | translate }}</p>
              <ion-text>{{'delete-step-3' | translate }}</ion-text>
            </ion-col>
            <ion-col>
              <img src="../../../assets/delete.png">
              <p class="title">4. {{'delete-step-4-tit' | translate }}</p>
              <ion-text>{{'delete-step-4' | translate }}</ion-text>
            </ion-col>
          </div>
    </div>
</umu-default-layout>
    