@if(this.items){  
  <ion-grid class="card-list">
    <ion-row class="offerList ion-justify-content-center">
      @for(offer of items(); track offer._id){
        <ion-col sizeMd="6" sizeSm="12" class="container">
          <umu-offer-card [item]="offer"></umu-offer-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
} @else {
  <ion-grid class="card-list">
    <ion-row class="ion-justify-content-center">
      <ion-col size="fit-content">
        <img src="/assets/animations/searching.gif" alt="Searching animation, files move horizontally from right to left and a magnifier glass goes through each one">
      </ion-col>
    </ion-row>
  </ion-grid>
}