ion-grid.card-list {
    
    margin-top: 15px;
    padding: 0;

    & > ion-row > ion-col {
        padding: 15px;
    }
}

.container {
    width: 100%;

    ion-item {
        --ion-background-color: white;
        padding-bottom: 5px;
    }

    .text-block {
        display: block;
        margin-top: 15px;
    }

    .title-color {
        font-size: 20px;
        font-weight: 500;
    }

    ion-card-content {
        padding: 0;
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }

    .custom-text-space {
        white-space: normal;
    }

    .separator {
        border: 1px solid #4acdba;
        margin: -5px 0 0px 0px;
        position: fixed;
        width: 130%;
        z-index: 2;
    }

    ion-thumbnail {
        --size: 48px;

        img {
            max-width: none;
        }
    }

    .offer-card-header {
        width: 100%;
    }

}


ion-list.offers {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

ion-card {
    width: 500px;
    min-width: 425px;
    max-width: 100%;
}

.offer-avatar {
    width: 100px;
    height: 100px;
}

ion-row.offerList {
    padding: 0;
}


@media (max-width: 576px) {
    ion-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    ion-row.offerTitle {
        padding-inline-start: 5%;
        padding-right: 5%;
    }

    ion-row.offerList {
        padding-inline-start: 2%;
        padding-right: 2%;
    }

    ion-card {
        max-width: 500px;
        min-width: 300px;
    }

    .offer-avatar {
        width: 0;
        height: 0;
    
        ion-thumbnail {
            --size: 0;
        }
    }

}