<umu-default-layout class="ion-page">
  <umu-info-tags-list [tagsList]="tagsList"></umu-info-tags-list>
  <div class="grid-container custom-padding">
    @if(usersListData.length > 0){
      @for(candidate of usersListData; track candidate){
        <ion-col sizeMd="6" sizeSm="12">
          <umu-candidate-card 
            [candidate]="candidate"
            (onGoCandidate)="goCandidateProfile(candidate.user._id)"
            (onClickFits)="updateCandidateStatus(candidate.user._id, candidatureStatus.PRESELECTED)"
            (onClickNoFits)="updateCandidateStatus(candidate.user._id, candidatureStatus.REJECTED)"
            (onClickUndefine)="updateCandidateStatus(candidate.user._id, candidatureStatus.UNDEFINED)"
            (onToggle)="onToggle($event, candidate.user._id)"
          ></umu-candidate-card>          
        </ion-col> 
      }
    } @else {
      <span>{{ 'no-sign-up' | translate}}</span>
    }
  </div>
</umu-default-layout>