.container {
    width: 100%;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.custom-padding {
    padding-inline-start: 4%;
    padding-inline-end: 4%;
}

umu-info-tags-list {
    margin-inline-start: 0.5%;
    // margin-inline-end: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: solid 1px var(--ion-color-accent);

    &::ng-deep > div.flex-row {
        gap: 4.7rem;
             
    } 
}

@media screen and (max-width: 1040px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 576px) {
    umu-info-tags-list {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        margin-inline-start: 6%;
        margin-inline-end: 6%;

        &::ng-deep > div.flex-row {
            gap: 2rem;
                 
        } 
    }
}



