
 <ion-modal #modal [isOpen]="isOpen()" class="stack-modal auto-height">
    <ng-template>
        @if(title() != ''){
            <ion-header class="ion-no-border">
                <div class="umu-alert-header">
                    @if (iconName() != '') {
                        <ion-icon [name]="iconName()" size="large"></ion-icon>
                    } @else if (customIconName() != '') {
                        <ion-icon [src]="'/assets/icons/'+customIconName()+'.svg'"></ion-icon>
                    }
                    <h1 class="title">{{ title() | translate }}</h1> 
                </div>
            </ion-header>
        }
        <div class="inner-content">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <p>{{ message() | translate }}</p>
                    @if(button1() !== '' && button2() === ''){
                        <umu-text-button (click)="onClickButton1Handler()">
                            {{button1() | translate }}
                        </umu-text-button>
                    } @else if(button2() !== ''){
                        <ion-row>
                            <ion-col>
                                <umu-text-button (click)="onClickButton1Handler()">
                                    {{button1() | translate }}
                                </umu-text-button>
                            </ion-col>
                            <ion-col>
                                <umu-text-button (click)="onClickButton2Handler()">
                                    {{button2() | translate }}
                                </umu-text-button>
                            </ion-col>
                        </ion-row>
                    }
                </ion-col>
            </ion-row>
        </div>
    </ng-template>
</ion-modal>