<form [formGroup]="form" class="grid-container">

  <umu-text-field
    labelId="education-level"
    placeholderId="studies"
    name="education"
    [required]="true"
    [minLength]="educationMinLength"
    [maxLength]="educationMaxLength"
    [control]="controls.education"
  ></umu-text-field>

  <umu-select-dropdown
    labelId="languages"
    name="languages"
    [optionsTranslated]="translatedAndOrderedLanguages"
    [multiple]="true"
    [required]="true"
    [control]="controls.languages"
  ></umu-select-dropdown>

  <umu-tag-input
    labelId="skills"
    name="tag"
    placeholderId="skills-ph"
    [autocomplete]="competenciesNames"
    [errorMinTags]="errorMinTags"
    (onAdd)="addCompetency($event)"
    (onDelete)="removeCompetency($event)"
  ></umu-tag-input>
</form>