:host {
    display: block;
}

div {
    background-color: transparent;
    display: grid;
    gap: 22px;
    grid-auto-flow: column;
    justify-content: left;
    margin: 13px 0px 13px 22px;
}

button {
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: var(--ion-color-accent-contrast);
}

.lang-icon {
    font-size: 1.5rem;
}

.underlined {
    text-decoration: underline;
}

.flex-row {
    display: flex;
    flex-flow: wrap;
    margin: 0;
}