<!-- <div [style.position]="position()" [style.margin-left]=" !isInApp ? '0' : '60px'"> -->
<div [style.position]="position()">
        @if(extended()){
                
                <ion-icon src="../../../assets/icons/Idioma.svg" class="lang-icon" ></ion-icon>  
                <div class="flex-row">
                        <button class="underlined" [style.color]="color()" (click)="onLanguageSwitchEvent('es')">{{'es' | translate }}</button> 
                        <button class="underlined" [style.color]="color()" (click)="onLanguageSwitchEvent('cat')">{{'cat' | translate }}</button>
                        <button class="underlined" [style.color]="color()" (click)="onLanguageSwitchEvent('eus')">{{'eus' | translate }}</button>
                        <button class="underlined" [style.color]="color()" (click)="onLanguageSwitchEvent('en')">{{'en' | translate }}</button>       
                </div>
                

        } @else {
                <button [style.color]="color()" (click)="onLanguageSwitchEvent('es')">es</button> 
                <button [style.color]="color()" (click)="onLanguageSwitchEvent('cat')">cat</button>
                <button [style.color]="color()" (click)="onLanguageSwitchEvent('eus')">eus</button>
                <button [style.color]="color()" (click)="onLanguageSwitchEvent('en')">en</button>     
        }  
</div>




    