<umu-checkbox
  name="privacy"
  [required]="true"
  [control]="control()"
  (onToggle)="onToggle($event)"
>
  <label> 
    {{'accept' | translate }} 
    <a id="open-modal">
      {{ 'privacy' | translate }} 
    </a>
    @if(selectedLang === 'eus'){
      <span>{{'accept-2' | translate }} </span>.
    }
  </label>
</umu-checkbox>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'privacy' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <umu-legal-info></umu-legal-info>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="exit()" [strong]="true">{{'exit' | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
