.container {
    display: grid;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 2rem;
}

umu-text-field,
umu-select-dropdown,
umu-textarea,
.softskills-container {

    width: 100%;
    max-width: 1100px;

    label {
        display: block;
        margin: auto;
        font-size: 1.5rem;
        color: #FFF;
        text-align: center;
    }
      
    input,
    input[type="text"],
    input[type="password"],
    input:focus,
    input:focus-visible,
    ion-select,
    textarea {
        display: flex;
        width: 100%;
        justify-content: center;
        background: #FFF;
        border-radius: 60px;
        padding: 18px 3rem;
        margin: 1rem 0;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        border: 0;
        text-align: center;
        outline: none;
        font-size: 18px;
        color: var(--ion-color-primary);
    }

    textarea {
        resize: none;
        border-radius: 1.5rem;
        width: auto;
        margin: 1rem auto;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    ::placeholder {
        color: var(--placeholder-forms);
    }

    ion-icon {
        right: 3rem;
        font-size: 18px;
    }

    .errors {
        text-align: center;
        display: block;
        font-size: .75rem;
    }

    ion-select {
        margin: 1rem auto;
        width: fit-content;
        padding: 8px 3rem;

        &::part(icon) {
            margin-left: 2rem;
            color: var(--ion-color-primary);
        }

        &::part(placeholder) {
            color: var(--placeholder-forms);
        }
    }
    
    .softskills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 48px;
        justify-content: space-between;

        .softskill {
            text-align: left; 
            display: grid; 
            align-items: center; 
            grid-auto-flow: column; 
            justify-content: left;
            
            & ion-toggle {
                width: 50px;
                height: 30px;
                padding: 12px;
                --border-radius: 60px;
                --track-background: #D7D8DA;
                --track-background-checked: var(--ion-color-primary);
                --handle-background: white;
                --handle-background-checked: white;
                --handle-height: 16px;
                --handle-width: 16px;
                --handle-spacing: 3px;
                --handle-box-shadow: none;
                /* Required for iOS handle to overflow the height of the track */
                overflow: visible;
                contain: none;

                &::part(track) {
                    border: 2px solid white;
                    width: 50px;
                    height: 30px;
                }
            }
        }
        
    }

}

.softskills {
    margin: 1rem 0;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.btn-lg {
    text-transform: none;
    padding: 18px 48px;
    border-radius: 60px;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.btn-lg.btn-secondary {
    background-color: var(--ion-color-primary);
    color: white;
}

.btn-lg:disabled,
.btn-secondary:disabled {
    background-color: #D7D8DA;
    color: #000;
}

@media only screen and (max-width: 1100px) {

    .skills {
        grid-template-columns: 1fr;
    }
}