ion-list > ion-row > ion-col:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-label {
       padding-left: 1.25rem; 
    }
}

.flex-row{
    display: flex;
    flex-flow: wrap;  
    gap: 1rem; 
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // flex-flow: wrap;
}

umu-text-button {
    margin-left: auto;
}

.custom-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

ion-grid.card-list {
    
    margin-top: 2rem;

    & > ion-row > ion-col {
        padding: 15px;
    }
}

@media(max-width: 576px){
    umu-text-button {
        width: 100%;
    }
    umu-text-button::ng-deep ion-button {
        width: 100%;
    }
}