<umu-default-layout class="ion-page">
  <!-- <ion-row> -->
    <!-- <ion-col size="fit-content">
      <ion-title class="ion-padding-top ion-padding-bottom">
        <ion-label class="ion-text-wrap">
        {{'my-projects' | translate }}
        </ion-label>
      </ion-title>
    </ion-col>
    <ion-col>
      <ion-fab-button size="small" color="primary" (click)="createModal()" cy-data="add-project">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row> -->

  <div class="flex-column">
    <div class="flex-row custom-padding">
      <umu-title type="h3">{{'go-to-projects' | translate}}</umu-title>
      <umu-text-button (click)="openNewProjectModal()">{{'create-project' | translate}}</umu-text-button>
      <umu-new-project-modal 
          [isOpen]="isModalOpen" 
          (onClose)="onCloseEvent()" 
          title="new-offer" 
          id="new-offer"
        ></umu-new-project-modal>
    </div>
    <div class="flex-row custom-padding">
      <ion-label>{{'show' | translate}}: </ion-label>
      <ion-chip (click)="getAllProjects('all')">{{'all' | translate }}</ion-chip>
      <ion-chip (click)="getAllProjects('owned')">{{'created-by-me' | translate}}</ion-chip>
      <ion-chip (click)="getAllProjects('shared')">{{'shared-with-me' | translate}}</ion-chip>
      <ion-chip (click)="getAllProjects('inactive')">{{'project-inactive-p' | translate }}</ion-chip>
    </div>
    @if(adminProjects.length === 0 && sharedProjects.length !== 0){
      <ion-row>
        <ion-label>{{'no-project' | translate}} </ion-label>
      </ion-row>
    }
    @if(sharedProjects.length === 0) {
      <ion-row>
        <ion-label>{{'no-admin-projects' | translate }} </ion-label>
      </ion-row>
    }
    <umu-card-list [items]="adminProjects"></umu-card-list>
  </div>  
</umu-default-layout>