ion-modal::part(content) {
    border-radius: 16px;
}

ion-modal {
    --min-height: 80vh;
    --min-width: 735px
}

.umu-modal-header {
    padding: 60px 0 30px 0;
    border-bottom: 2px solid var(--ion-color-accent);
    display: flex;
    align-items: center; 
}

.umu-modal-footer {
    padding: 30px 0;
    border-top: 2px solid var(--ion-color-accent);
}

ion-header,
ion-footer {
    padding: 0 45px;
}

.title {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color: var(--ion-color-accent-contrast);
    font-size: 24px;
    font-weight: 600;
}

ion-content { 
    --ion-background-color: white; 
    --overflow: scroll;
    --padding-start: 45px;
    --padding-end: 45px;
    --padding-top: 45px;
    --padding-bottom: 45px;
}

ion-icon {
    width: 32px;
    height: 32px;
}

.close-button {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    height: 28px;
    width: 28px;
    background-color: transparent;

    ion-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 735px){
    ion-modal {
        --min-width: 0px;
    }
}