<ion-modal #modal [isOpen]="isOpen()" [backdropDismiss]="backdropDismiss()">
    <ng-template>
        <ion-header class="ion-no-border">
            @if(title() != ''){
                <div class="umu-modal-header">
                    @if(iconName() != ''){
                        <ion-icon [name]="iconName()"></ion-icon>
                    } @else if(customIconName() != ''){
                        <ion-icon [src]="iconPath"></ion-icon>
                    }
                    <h1 class="title">{{ title() | translate }}</h1> 
                </div>
            }
            <button class="close-button" (click)="onCloseHandler()">
                <ion-icon src="/assets/icons/close.svg"></ion-icon>
            </button>
        </ion-header>
        <ion-content>
            <ng-content></ng-content>
        </ion-content>
        @if(footer()){
            <ion-footer class="ion-no-border">
                <div class="umu-modal-footer">
                    <ng-content select="[footer]"></ng-content>
                </div>
            </ion-footer>
        }
    </ng-template>
</ion-modal>