<umu-info-card extTitle="about-company" [intTitle]="me.name" [isEditable]="true" (onEdit)="onEditHandler()">
    <umu-info-text-list title="info" [infoList]="infoList"></umu-info-text-list>
</umu-info-card>
<umu-edit-company-info-modal [isOpen]="isOpen" (onClose)="onClose()"></umu-edit-company-info-modal>