<swiper-container init="false" #slider style="margin-top: 5%;">
  @for(slide of slideItems; track $index){
    <swiper-slide>
      <ng-container [ngTemplateOutlet]="slide.slideTemplate"></ng-container>
    </swiper-slide>
  }    
</swiper-container>