h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 0px;
    display: grid;
    padding-right: 10px;
    text-align: left;


}

.ion-subtitle {
    font-size: 25px;
    font-weight: 500;
}

ion-text {
    font-size: 18px;
}

.bold {

    font-weight: 999;
}

.content-logo {
    text-align: left;
    border-bottom: 2px solid var(--ion-color-upmeup);

}


.legalinfo {
    margin-bottom: 20px;
    margin-right: 12px;
}