.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.umu-custom-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--ion-color-accent-contrast);
}

.radio-toolbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.radio-toolbar input[type="radio"] {
    accent-color: var(--ion-color-accent-contrast);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

.radio-toolbar label {
    display: inline-block;
    padding: 0 14px;
    color: var(--ion-color-accent-contrast);
    font-size: 16px;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    width: 1em;
    height: 1em;
    border: 0.1em solid var(--ion-color-accent-contrast);
    border-radius: 0.15em;
    cursor: pointer;
    position: relative;
   
}

input[type="checkbox"]::before{
    content:"";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--ion-color-accent-contrast);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    position:absolute;
    left:0.1em;
    top:0.1em;
   
}

input[type="checkbox"]:checked::before{
    transform: scale(1);
}


