<div class="flex-column">
    <label class="umu-custom-subtitle">{{ labelId() | translate }}</label>
    <div class="radio-toolbar" [formGroup]="form">     
        @if(options().length > 0){
            @for(option of options(); track $index){
                <div>
                    <input type="checkbox" id="{{option}}" formControlName="{{option}}"> 
                    <label for="{{option}}">{{ option | translate }}</label>          
                </div> 
            }  
        } @else if (optionsTranslated().length > 0) {
            @for(item of optionsTranslated(); track $index){
                <div>
                    <input type="checkbox" id="{{item.value}}" formControlName="{{item.value}}"> 
                    <label for="{{item.value}}">{{ item.label }}</label>
                </div> 
            }  
        }
    </div> 
</div>

