.header-container {
      max-width: 100%;
      height: 130px;
      margin: auto;
      padding-bottom: 30px;
      padding-top: 30px; 
      margin-top: -56px;
  
      h2 {
          font-size: clamp(18px, 5vw, 28px);
          font-weight: 500;
          text-align: center;
          margin-top: .60rem;
          margin-bottom: 0.25rem;
          padding-bottom: 0px;
          color: #ffff;

      }
  }
  