.button-container {
    position: relative;

    ion-button ion-icon {
        width: 40px;
        height: 40px;
    }
    
    .badge {
        position: absolute;
        top: 2px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #FF0707;
        color: white;
        font-weight: 700;
        font-size: 13px;
        padding: 0;
    }

    .icon {
        color: var(--ion-color-accent);
    }

}



