<div class="button-container">
  <ion-button fill="clear" (click)="goToConversations()" aria-label="chat-button">
    <ion-icon class="icon" src="/assets/icons/chat.svg" aria-hidden="true" size="large"></ion-icon>
  </ion-button>
  @if (unreads > 0) {
    <div class="badge"> {{ unreads }} </div>
  }
</div>
