span {
    color: var(--ion-color-accent-contrast);
}

.h1 {
    font-size: 30px;
    font-weight: 900;
}

.h2{
    font-size: 24px;
    font-weight: 900;
}

.h3 {
    font-size: 22px;
    font-weight: 900;
}

.h4 {
    font-size: 24px;
    font-weight: 700;
}