<div class="{{ unreadsCount() > 0 ? 'unread card-container' : 'card-container' }}" (click)="onCardClick()">
  <ion-row class="card-content">
    <ion-col size="fit-content" class="ion-align-self-start">
      <ion-thumbnail>
        <div>
          @if(recipient().avatarB64){
            <img [src]="recipient().avatarB64" alt="avatar image"/>
          } @else {
            <img src="./../../../assets/avatar.svg" />
          }
        </div>
      </ion-thumbnail>
    </ion-col>
    <ion-col class="ion-padding-start">
      <ion-row>
        <ion-col>
          <h3> {{ recipient().name }} </h3>
          <p class="last-message"> {{ lastMessage().text }} </p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col size="fit-content">
          <p> {{ date }} </p>
        </ion-col>
        @if(unreadsCount() > 0){
          <ion-col size="fit-content">
            <div class="badge"> {{ unreadsCount() }} </div>
          </ion-col>
        }
      </ion-row>
    </ion-col>
  </ion-row>
</div>