:host::ng-deep   .card-content ion-thumbnail img {
    border-radius: 1rem;
}

.card-container {
    width: 100%;
    padding: .8rem;
    transition: all .4s ease-in-out;
    background-color: transparent;
    border-radius: 1rem;

    .card-content {
        ion-thumbnail {
            --size: 64px;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            color: var(--ion-color-dark-green)
        }

        p.last-message {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
        }
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}

.card-container:hover,
.card-container.unread:hover {
    cursor: pointer;
    background-color: rgb(var(--ion-color-primary-rgb),.15);   
}

.card-container.unread {
    background-color: rgb(var(--ion-color-accent-rgb),.25);   
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF0707;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
}
