<div>
    <div class="tag-icon">
      <img class="image" [src]="'../../../assets/icons/' + iconName() + '.svg'" /> 
    </div>
  @if(info() === '' && infoId() !== ''){
    <span class="tag-info">{{ infoId() | translate }}</span>
  } @else {
    <span class="tag-info">{{ info() }}</span>
  }
</div>
