<label>{{ (labelId() | translate) + (variant() == 'modal' && required() ? ' *' : '')}} </label>
<div class="container">
  @if(type() === 'number'){
    <div class="input">
      <ion-icon 
        class="btn-minus"
        name="remove-outline" 
        (click)="add(-step())"
      ></ion-icon>
      <input 
        [type]="type()" 
        [id]="name()"
        [placeholder]="min()"
        [min]="min()"
        [max]="max()"
        [required]="required()"
        [formControlName]="name()"
        style="margin-inline-end: 28px; "
      >
      <ion-icon 
        class="btn-plus"
        name="add-outline"
        (click)="add(step())"
      ></ion-icon>
    </div>
    @if(unitsId() !== ''){
      <span>{{ unitsId() | translate}}</span>
    }
  } @else {
    <input 
      [type]="type()" 
      [id]="name()"
      placeholder="{{ placeholderId() | translate }}"
      [minlength]="minLength()"
      [maxlength]="maxLength()"
      [required]="required()"
      [formControlName]="name()"
    >
  }
  @if(type() === 'password'){
    <ion-icon class="{{ showPassword ? 'eye-off-ico' : 'eye-ico' }}" (click)="toggleShowPassword()"></ion-icon>
  }
</div>
<div class="errors">
  @if(control().hasError('required') && control().touched){
    <p>* {{ 'required-field' | translate }}</p>
  }
  @if(control().hasError('minlength')){
    <p>* {{ 'min-character' | translate: { min: minLength() } }}</p>
  }
  @if(control().hasError('maxlength')){
    <p>* {{ 'max-character' | translate: { max: maxLength() } }}</p>
  }
  @if(control().hasError('email')){
    <p>* {{ 'check-cap' | translate }}</p>
  } 
  @if(control().hasError('emailExists')){
    <p>* {{ 'email-exists' | translate }}</p>
  } 
  @if(control().hasError('pattern')){
    <p>* {{ 'password-conditions' | translate }}</p>
  } 
  @if(control().hasError('matching')){
    <p>* {{ 'wrong-password' | translate }}</p>
  }
</div>