.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {color: white      }
}

.input {
    position: relative;  
}

input.ng-invalid.ng-touched {
    border: groove 1px red;
}

ion-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

ion-icon.eye-off-ico {
    transform: translate(-1px, calc(-50% - 1px));
}

ion-icon.btn-plus {
    right: 2rem;
    cursor: pointer;
    background-color: #C7C6C6;
    border-radius: 50%;
    width: 24.29px;
    height: 24.29px;
    margin-left: 39px;
}

ion-icon.btn-minus {
    right: unset;
    left: 2rem;
    cursor: pointer;
    background-color: #C7C6C6;
    border-radius: 50%;
    width: 24.29px;
    height: 24.29px;
}

:host[variant='modal'] {

    label {
        color: var(--ion-color-text);
        font-size: 20px;
        font-weight: 600;
    }

    input {
        width: 100%;
        height: 3rem;
        border: none;
        border-bottom: 1px solid #999;    
        font-size: 20px;
    }

    input::placeholder{
        font-size: 16px;
    }

    input:focus, 
    input:active, 
    input:focus-visible {
        outline: none;
    }

    input.ng-invalid.ng-touched {
        border: none;
        border-bottom: 1px solid red;  
    }

}