.custom-col {
    max-width: 600px;

}
.no-chat-title {
    font-size: 24px;
    font-weight: bold;
}
.message {
    text-align: center;

}
ion-item {
    --inner-padding-end: 0;
    --inner-padding-top: .5rem;
    --inner-padding-bottom: .5rem;
}
umu-conversation-card {
    width: 100%;
}
ion-icon.chatbubbles-ico { 
    width: 110px; 
    height: 110px;        
  }
