<umu-default-layout class="ion-page">
  <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="conversations.length === 0; else conversationsList">
    <ion-col class="ion-text-center custom-col">
      <ion-icon class="chatbubbles-ico"></ion-icon>
      <h3 class="no-chat-title" *ngIf="userType === 'candidate'; else noChatsYetCompany">{{ 'no-chat-yet-candidate' | translate }}</h3>
      <ng-template #noChatsYetCompany>
        <h3 class="no-chat-title">{{ 'no-chat-yet-company' | translate}}</h3>
      </ng-template> 
      <p *ngIf="userType === 'candidate'; else emptyChatListCompany" class="message">{{ 'empty-chat-list-candidate' | translate }}</p>
      <ng-template #emptyChatListCompany>
        <p>{{ 'empty-chat-list-company' | translate}}</p>
      </ng-template>
    </ion-col>
  </ion-row>  
  <ng-template #conversationsList>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="9" size-lg="8">
        <ion-list>
          <ion-item
            *ngFor="let conversation of conversations">
            <umu-conversation-card
              [lastMessage]="conversation.lastMessage"
              [recipient]="conversation.recipient"
              [unreadsCount]="conversation.unreadsCount"
            ></umu-conversation-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-template>
</umu-default-layout>