.flex-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

umu-text-field[variant="modal"]::ng-deep {
    
    #jobDetails {
        padding-bottom: 6rem;
        padding-top: 1.5rem; 
    }

    input {
        font-size: 16px;
    }
}