<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="edit-profile" customIconName="offer">
  <form [formGroup]="form">
    <div class="flex-column">
      <umu-text-field
        labelId="company-name"
        placeholderId=""
        name="name"
        [required]="true"
        [minLength]="nameMinLength"
        [maxLength]="nameMaxLength"
        [control]="controls.name"
        variant="modal"
      ></umu-text-field>
      
      <umu-text-field
        labelId="website"
        placeholderId=""
        name="website"
        [minLength]="websiteMinLength"
        [maxLength]="websiteMaxLength"
        [control]="controls.website"
        variant="modal"
      ></umu-text-field>

      <umu-text-field
        labelId="email"
        placeholderId=""
        name="email"
        [required]="true"
        [minLength]="emailMinLength"
        [maxLength]="emailMaxLength"
        [control]="controls.email"
        variant="modal"
      ></umu-text-field>

      <umu-select-dropdown 
        labelId="city" 
        name="city"
        placeholderId="select"
        [required]="true"
        [control]="controls.city"
        [optionsTranslated]="translatedAndOrderedCities"
        variant="modal">
      </umu-select-dropdown>

      <umu-select-dropdown 
        labelId="sectors" 
        name="sector"
        placeholderId="select"
        [required]="true"
        [multiple]="true"
        [control]="controls.sector"
        [optionsTranslated]="translatedAndOrderedSectors"
        variant="modal">
      </umu-select-dropdown>

      <umu-text-field
        class="experience-input"
        labelId="company-age"
        type="number"
        name="experience"
        [min]="0"
        [max]="99"
        unitsId="years"
        [control]="controls.experience"
        variant="modal"
    ></umu-text-field>


      <umu-text-field
        labelId="job-details"
        placeholderId=""
        name="jobDetails"
        [required]="true"
        [minLength]="jobDetailsMinLength"
        [maxLength]="jobDetailsMaxLength"
        [control]="controls.jobDetails"
        variant="modal"
      ></umu-text-field>
    </div>
    
  </form>
  <div class="grid-center ion-no-border" footer>
    <umu-text-button
      (click)="submitForm()" 
      [enabled]="form.valid"
    >
      {{'update' | translate }}
    </umu-text-button>
  </div>
</umu-modal>