.custom-padding {
    padding: 0 20px;
}

.buttons-row {
    display: flex;
    gap: 1rem;
    flex-flow: wrap;
}

.umu-filters-button {
    cursor: pointer;

    ion-icon {
        display: inline-block;
        width: 15px;
        height: 12px;
        margin-right: 6.5px;
    }

    span {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: var(--ion-color-accent-contrast);
    }

    .filter-ico {
        background: url('../../../../assets/icons/filter.svg') 0 0 / 15px 12px no-repeat;
    }
    
} 

ion-row {
    margin-top: 30px;

    ion-col {
        padding: 0;
    }

    ion-col + ion-col {
        margin-left: 20px;
    }

    ion-col:nth-child(1) {
        margin-bottom: 30px;
    }
    
    ion-col:nth-child(2) {
        margin-left: 0;
        order: 2;
    }

    ion-col:nth-child(3) {
        order: 3;
    }

    ion-col:nth-child(4) {
        order: 4;
    }
}

umu-text-button::ng-deep ion-button{
    height: 42px;
    width: max-content;
    margin: 0;
    --padding-start: 28px;
    --padding-end: 28px;
}

umu-text-button::ng-deep span {
    font-size: 16px;
}


@media(max-width: 576px) {
    ion-grid > ion-row {
        justify-content: space-between;

        ion-col:nth-child(1) {
            order: 1;
        }
    
        ion-col:nth-child(2) {
            order: 3;
        }
    
        ion-col:nth-child(3) {
            order: 4;
        }
    
        ion-col:nth-child(4) {
            margin-bottom: 30px;
            order: 2;
        }

        ion-col + .buttons-row {
            margin-left: 0;
        }
    }

    umu-text-button {
        width: 100%;
    }
    umu-text-button::ng-deep ion-button {
        width: 100%;
    }
}

@media(max-width: 1039px){
   
    umu-search-bar::ng-deep span {
        display: none;
    }
}