<umu-default-layout class="ion-page">
  <ion-grid class="custom-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto" sizeMd="12">
        <umu-title type="h4">{{'projects' | translate }}</umu-title>
      </ion-col>
      <!-- TODO: quitar style de aqui -->
      <ion-col size="8" sizeMd="" style="margin-left: 0">
        <umu-search-bar placeholder="search-ph-project"></umu-search-bar>
      </ion-col>
      <ion-col size="auto" sizeMd="fit-content">
        <div class="umu-filters-button" (click)="openFiltersModal()">
          <ion-icon class="filter-ico"></ion-icon>
          <span>{{'filter' | translate }}</span> 
        </div>
      </ion-col>
      <ion-col size="fit-content" class="buttons-row">
        <umu-text-button (click)="toProjectList()">{{'go-to-projects' | translate }}</umu-text-button>
        <umu-text-button (click)="toInterestProjects()">{{'interest-projects' | translate }}</umu-text-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <umu-project-filters-modal [isOpen]="isModalOpen" (onClose)="onCloseEvent()"></umu-project-filters-modal>
  <umu-card-list [items]="projects"></umu-card-list>
  <umu-infinite-scroll [items]="projects" (onNewPage)="onNewPageHanlder($event)" [currentPage]="currentPage"></umu-infinite-scroll>
</umu-default-layout>

