<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="filter" customIconName="filter">
  <form [formGroup]="filtersForm">
    <div class="flex-column">
      <umu-select-checkbox
        labelId="created-date"
        [options]="createdDateOptions"
        [onClear]="onClear"
        (selectedValues)="setValues($event, 'createdDate')">
      </umu-select-checkbox>

      <umu-select-dropdown 
        labelId="city" 
        name="city"
        [multiple]="true"
        [control]="controls.city"
        [optionsTranslated]="translatedAndOrderedCities"
        variant="modal"
      >
      </umu-select-dropdown>

      <umu-select-checkbox
        labelId="contract-type"
        [options]="contractTypeOptions"
        [onClear]="onClear"
        (selectedValues)="setValues($event, 'contractType')">
      </umu-select-checkbox>

      <umu-select-dropdown 
        labelId="workday-type" 
        name="workHours"
        [multiple]="true"
        [control]="controls.workHours"
        [options]="workHourOptions"
        variant="modal"
      >
      </umu-select-dropdown>

      <!-- [expLabels]="requiredExperienceLabels" -->
      <umu-select-checkbox
        labelId="required-experience"
        [options]="requiredExperienceOptions"
        [optionsTranslated]="translatedAndOrderedReqExp"
        [onClear]="onClear"
        (selectedValues)="setValues($event, 'requiredExperience')">
      </umu-select-checkbox>

      <umu-select-checkbox
        labelId="working-model"
        [options]="remoteOptions"
        [onClear]="onClear"
        (selectedValues)="setValues($event, 'remote')">
      </umu-select-checkbox>
    </div>
  </form>
  <div class="grid-container" footer>
    <umu-text-button 
      minWidth="100%" 
      (click)="onFilter()">{{ 'results' | translate }}
    </umu-text-button>
    <umu-text-button 
      minWidth="100%" 
      (click)="clearFilters()">{{ 'clear-filters' | translate }}
    </umu-text-button>
  </div>
</umu-modal>
