// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Generate btn colors: https://ionicframework.com/docs/theming/colors#new-color-creator

/** Ionic CSS Variables **/
:root {

  // Global max content width
  --max-content-width: 1100px;
  --max-header-width: 1280px;

  --ion-color-primary: #386284;
	--ion-color-primary-rgb: 56,98,132;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #315674;
	--ion-color-primary-tint: #4c7290;

  	--ion-color-secondary: #5493B2;
	--ion-color-secondary-rgb: 84,147,178;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #4a819d;
	--ion-color-secondary-tint: #659eba;

	--ion-color-tertiary: #D2E9E1;
	--ion-color-tertiary-rgb: 210,233,225;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #b9cdc6;
	--ion-color-tertiary-tint: #d7ebe4;

	--ion-color-accent: #E8FF4D;
	--ion-color-accent-rgb: 232,255,77;
	--ion-color-accent-contrast: #18365C;
	--ion-color-accent-contrast-rgb: 24, 54, 92;
	--ion-color-accent-shade: #cce044;
	--ion-color-accent-tint: #eaff5f;

	--ion-color-text: #18365C;
	--ion-color-text-rgb: 24,54,92;
	--ion-color-text-contrast: #E8FF4D;
	--ion-color-text-contrast-rgb: 232, 255, 77;
	--ion-color-text-shade: #153051;
	--ion-color-text-tint: #2f4a6c;

	--ion-color-fits: #06803B;
	--ion-color-fits-rgb: 6,128,59;
	--ion-color-fits-contrast: #ffffff;
	--ion-color-fits-contrast-rgb: 255,255,255;
	--ion-color-fits-shade: #057134;
	--ion-color-fits-tint: #1f8d4f;

	--ion-color-no-fits: #D52127;
	--ion-color-no-fits-rgb: 213,33,39;
	--ion-color-no-fits-contrast: #ffffff;
	--ion-color-no-fits-contrast-rgb: 255,255,255;
	--ion-color-no-fits-shade: #bb1d22;
	--ion-color-no-fits-tint: #d9373d;

	--ion-color-background: #eaeaea;
	--ion-color-background-rgb: 234,234,234;
	--ion-color-background-contrast: var(--ion-color-text);
	--ion-color-background-contrast-rgb: 0,0,0;
	--ion-color-background-shade: #cecece;
	--ion-color-background-tint: #ececec;

}




// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66,140,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80,200,255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255,255,255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106,100,255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255,255,255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47,223,117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0,0,0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255,213,52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0,0,0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152,154,162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34,36,40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255,255,255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;

//     --ion-color-upmeup: #a3d1bb;
//     --ion-color-upmeup-rgb: 163,209,187;
//     --ion-color-upmeup-contrast: #000000;
//     --ion-color-upmeup-contrast-rgb: 0,0,0;
//     --ion-color-upmeup-shade: #8fb8a5;
//     --ion-color-upmeup-tint: #acd6c2;
  
//     --ion-color-dark-upmeup: #5fb1b5;
//     --ion-color-dark-upmeup-rgb: 95,177,181;
//     --ion-color-dark-upmeup-contrast: #000000;
//     --ion-color-dark-upmeup-contrast-rgb: 0,0,0;
//     --ion-color-dark-upmeup-shade: #549c9f;
//     --ion-color-dark-upmeup-tint: #6fb9bc;
  


//     /** Login degraded colors **/
//     --ion-color-login-dg: #a2ddc2;
//     --ion-color-login-dg-rgb: 162,221,194;
//     --ion-color-login-dg-contrast: #000000;
//     --ion-color-login-dg-contrast-rgb: 0,0,0;
//     --ion-color-login-dg-shade: #8fc2ab;
//     --ion-color-login-dg-tint: #abe0c8;

//     --ion-color-login-dgDark: #248ba9;
//     --ion-color-login-dgDark-rgb: 36,139,169;
//     --ion-color-login-dgDark-contrast: #ffffff;
//     --ion-color-login-dgDark-contrast-rgb: 255,255,255;
//     --ion-color-login-dgDark-shade: #207a95;
//     --ion-color-login-dgDark-tint: #3a97b2;
  
//     --ion-color-candidateok: #88c068;
//     --ion-color-candidateok-rgb: 136,192,104;
//     --ion-color-candidateok-contrast: #ffffff;
//     --ion-color-candidateok-contrast-rgb: 0,0,0;
//     --ion-color-candidateok-shade: #78a95c;
//     --ion-color-candidateok-tint: #94c677;
    
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";
