::ng-deep .badge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::ng-deep .profValue-icon {
  font-size: 50px;
}
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:host::ng-deep umu-badge h5 {
  text-align: center;
  font-size: 12px;
  color: var(--ion-color-accent);
  white-space: normal;
  min-width: 100px;
  max-width: 150px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 0px;
}

@media screen and (max-width: 576px) {
  :host::ng-deep umu-badge div {
    height: 85px;
    margin-bottom: 15px;
  }

}


