ion-modal::part(content) {
    border-radius: 16px;
}

ion-header {
    padding: 30px 45px 0;
}

.umu-alert-header {
    display: flex;
    align-items: center; 
    padding-bottom: 30px;
    border-bottom: 2px solid var(--ion-color-accent)
}

.title {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color: var(--ion-color-accent-contrast);
    font-size: 24px;
    font-weight: 600;
}

ion-modal.auto-height {
    --height: auto;
    --max-height: 300px;
    --min-width: min(700px,80vw);

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        ion-header + .inner-content { 
            padding-top: 15px;
        }
    }
    
    .ion-page .inner-content {
        max-height: 80vh;
        overflow: auto;
        background-color: white; 
        overflow: scroll;
        padding: 45px;

        umu-text-button {
            --width: 100%;
            width: 100%;
        }
    }
}

ion-modal.stack-modal { 
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important; 
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;
}

@media screen and (max-width: 576px) {
    ion-modal {
        --max-height: 80vh;
        --min-width: min(700px,80vw);
    }    
}