
<ion-modal #modal [isOpen]="isOpen()" class="stack-modal auto-height" (didDismiss)="onCloseHandler()">
    <ng-template>
        <ion-header class="ion-no-border">
            <div class="umu-alert-header">
                <ion-icon name="cloud-upload-outline" size="large" color="text"></ion-icon>
                <h1 class="title">{{ 'upload-cv' | translate }}</h1> 
            </div>
        </ion-header>
        <div class="inner-content">
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    @if( 1 ){
                        <p>{{ 'upload-cv-msg' | translate }}</p>
                        <umu-text-button>
                            <label for="file"> {{'select-file' | translate }} </label>
                        </umu-text-button>
                        <input type="file" id="file" accept=".pdf" (change)="onSelectFile($event)" style="display:none">
                    } @else {
                        <p>{{me.cv}}</p>
                        <umu-text-button>
                            <label for="file"> {{'upload' | translate }} </label>
                        </umu-text-button>
                        <input type="file" id="file" accept=".pdf" (change)="onSelectFile($event)" style="display:none">
                    }
                </ion-col>
            </ion-row>
        </div>
    </ng-template>
</ion-modal>