<ion-header class="ion-no-border">
  <umu-multilanguage></umu-multilanguage>
</ion-header>
<ion-content>
  <div class="container-login bg-gradient">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="3" class="flex-center">
          <img class="logo" src="/assets/UpMeUp-logo.png" alt="UpMeUp logo">
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="3">
          <form [formGroup]="form" #loginForm>
            @if(failedLogin){
              <div class="error-box">
                <ion-label color="danger" class="text-error">
                  {{'wrong-credentials' | translate}}
                </ion-label>
                <hr style="height: 0px; margin: auto">
                <ion-label color="danger" class="text-error">{{'check-cap' | translate}}
                </ion-label>
              </div>
            }
            
            <umu-text-field
              labelId=""
              placeholderId="email"
              type="email"
              name="email"
              [required]="true"
              [control]="controls.email"
            ></umu-text-field>

            <umu-text-field
              labelId=""
              placeholderId="password"
              type="password"
              name="password"
              [required]="true"
              [control]="controls.password"
            ></umu-text-field>

            <umu-text-button (click)="doLogin()"> 
              {{'sign-in' | translate }} 
            </umu-text-button>

          </form>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="3" class="flex-center">
          <ion-label>
            <a [routerLink]="['/password-reset']" class="small-text">
              {{'forgot-password' | translate }}
            </a>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="3">
          <div class="h-divider .ion-color-accent">
            <span color="light"> O </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="3" class="flex-center">
          <ion-label color="light">
            <h4>
              {{'non-registered' | translate}}
              <a [routerLink]="['/register']" class="small-text">
                {{'register' | translate }}
              </a>
            </h4>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bg-gradient">
    <ion-grid class="companies-grid">
      <div class="content-logo">
        <img src="/assets/img/Logo-generalitat-white.png" alt="Generalitat logo" class="footer-logo">
        <img src="/assets/img/Logo-gov-white.png" alt="Govern logos" class="footer-logo">
        <img src="/assets/img/Logo-eu-white.png" alt="UE logo" class="footer-logo">
        <img src="/assets/img/Logo-plan-white.png" alt="Govern logos" class="footer-logo">
        <img src="/assets/img/Logo-facto-white.png" alt="Facto logo" class="footer-logo">
        <img src="/assets/img/Logo-ecooo-white.png" alt="Ecooo logo" class="footer-logo">
        <img src="/assets/img/Logo-tazebaez-white.png" alt="Tazebaez logo" class="footer-logo">
      </div>
    </ion-grid>
  </div>
</ion-content>