ion-content {
    min-height: 100vh;

    .container-login {
        padding: 60px 40px 40px;
        min-height: calc(100vh - 128px);
    }

    .logo {
        max-width: 266px;
    }

    form {
        margin: 33px 0 40px;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }
    
    .footer-logo {
        width: 20%;
        max-width: 150px;
        margin: 0 10px;
    }

    a {
        font-size: 15px;
        color: #FFF;
    }

    .error-box {
        padding: 5px;
        border-radius: 5px;
        background: #2d2d2dbd;
        text-align: center;

        ion-label {
            color:#ff7c7c
        }
    }

    .text-error {
        font-size: 15px;
    }

    .h-divider {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px auto;
        max-width: 336px;

        span {
            color: #FFF;
            padding: 0 .25rem;
        }
    }

    .h-divider::after,
    .h-divider::before {
        content: "";
        border: 1px solid var(--ion-color-accent);
        flex: 1;
    }

    .companies-grid {
        background-color: rgb(255,255,255,.1);
        display: flex; 
        text-align: center; 
        justify-content: center; 
        align-items: center;
        padding: 2rem;
    }
}

umu-text-field::ng-deep {

    display: block;
    width: 100%;
    max-width: 360px;
    margin: auto;

    label {
        max-width: 792px;
        margin: auto;
    }

    input,
    input[type="text"],
    input[type="password"],
    input:focus,
    input:focus-visible {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: center;
        background: #FFF;
        border-radius: 60px;
        padding: 18px 3rem;
        margin: 0 0 20px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        border: 0;
        text-align: center;
        outline: none;
        font-size: 16px;
        color: var(--ion-color-contrast-accent);
        
    }

    .container {
        position: relative;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::placeholder {
        color: 999999 ;
    }

    .errors {
        display: none;
    }

    ion-icon.eye-off-ico,
    ion-icon.eye-ico {
        width: 18px;
        top: calc(50% - 10px);
    }
}

umu-text-button {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
