umu-info-options-list {
    display: block;
    margin: 2rem 0 3rem;
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-flow: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 576px){
    umu-text-button::ng-deep {
        width: 100%;

        ion-button {
            width: 100% !important;
            margin: 0
        }
    }

}
