<umu-info-card extTitle="about-you" [intTitle]="completeName" [isEditable]="true" (onEdit)="onEditHandler()">
    <umu-info-text-list title="info" [infoList]="infoList"></umu-info-text-list>
    <umu-info-options-list title="skills" [options]="me.competencies"></umu-info-options-list>
    <umu-info-options-list title="languages" [options]="langList"></umu-info-options-list>
    <div class="flex-column">
      <umu-title type="h3">{{ 'cv' | translate }}</umu-title>
      @if(me.cv){
        <p>CV_{{me.name}}_{{me.surname}}.pdf</p>
      }
      <div class="flex-row">
        @if(me.cv){
          <umu-text-button (click)="openUploadCVAlert()">{{ 'update' | translate }}</umu-text-button>
          <umu-text-button (click)="downloadCV()">{{ 'download' | translate }}</umu-text-button>
          }
        @else if (isSmallScreen === true) {
          <umu-text-button minWidth="292px" (click)="openUploadCVAlert()">{{'upload-cv-inf' | translate }}</umu-text-button>
        }
        @else {
          <umu-text-button minWidth="292px" (click)="openUploadCVAlert()">{{'want-upload-cv' | translate }}</umu-text-button>
        }
        <umu-upload-file-alert
          [isOpen]="isOpenUploadCVAlert"
          fileType="CV"
          (onClose)="onCloseUploadCVAlert()"
        ></umu-upload-file-alert>
      </div>
    </div>
    
</umu-info-card>
<umu-edit-candidate-info-modal [isOpen]="isOpen" (onClose)="onClose()"></umu-edit-candidate-info-modal>
