@if(users()){
<div class="grid-container">
  @if(title()){
  <umu-title type="h3">{{ title() | translate }}</umu-title>
  }
  <div class="grid-container">
    @for(user of users(); track user){
      <div class="flex-row card-container">
        @if(user.avatarB64){
        <img [src]="user.avatarB64" alt="avatar image" />
        } @else {
        <img src="./../../../assets/avatar.svg" />
        }
        <div class="grid-container info">
          @if(user.surname && user.surname !== '-'){
            <span class="name">{{user.name + " " + user.surname}}</span>
          } @else {
            <span class="name">{{user.name}}</span>
          }
          
          <div class="flex-row info">
            <span>{{user.city | translate }} </span><span>/</span>
            @if(user.jobPosition && user.jobPosition !== '-'){
              <span>{{user.jobPosition| translate }} </span><span>/</span>
            }            
            @if(user.sector){
            <span>{{user.sector[0].name| translate }}</span>
            @if(user.sector.length > 1){<span> ...</span>}
            }
      
          </div>
          <a class="profile" (click)="goToProfile(user._id)">{{'go-to-profile' | translate }}</a>
        </div>
      </div>
    }
  </div>


</div>



}