img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.flex-row {
    display: flex;
    gap: 2rem;
    flex-flow: wrap;
}

.info {
    gap: .4rem !important;
}

.grid-container {
    display: grid;
    gap: 2rem;
}

.name {
    font-size: 18px;
    font-weight: 900;
}

.profile {
    color: var(--ion-color-accent-contrast);
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
}