<form [formGroup]="form" class="grid-container">
  <umu-text-field
    labelId="professional-profile"
    placeholderId="professional-profile-ph"
    name="jobPosition"
    [minLength]="jobPosMinLength"
    [maxLength]="jobPosMaxLength"
    [required]="true"
    [control]="controls.jobPosition"
  ></umu-text-field>

  <umu-select-dropdown
    labelId="what-sector"
    placeholderId="select"
    name="sector"
    [options]="sectorList"
    [multiple]="true"
    [required]="true"
    [control]="controls.sector"
  ></umu-select-dropdown>

  <umu-text-field
    class="experience-input"
    labelId="experience-cap"
    type="number"
    name="experience"
    [min]="0"
    [max]="99"
    unitsId="years"
    [control]="controls.experience"
  ></umu-text-field>
</form>