<ion-header>
    <ion-toolbar color="upmeup" style="height: fit-content;">  
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <div class="header-class">
      <ion-thumbnail >
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/thumbnail.svg" />
        </ng-template>
      </ion-thumbnail>
      <ion-label class="header-text">
        <ion-grid >
          <ion-row>
            <ion-col> 
              <ion-title> 
                <ion-label class="title-offer" color="dark">
                  {{ userInfo?.name }} - {{userInfo?.city | translate }} 
                </ion-label>
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label> 
    </div>
  </ion-header>

  <ion-content>
    <div class="container">
      <ion-card-content style="white-space: normal;"> 
        <ion-title class="ion-padding-top" color="light">
          <ion-label class="ion-text-wrap">
            {{'new-project' | translate }}
          </ion-label>
        </ion-title> 
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
          <ion-label position="stacked"><div class="custom-title textarea-title" style="padding-top: 0;">
              {{'title' | translate }}: *
          </div></ion-label>
            <ion-input  id="iTitle" formControlName="iTitle" minlength="2" maxlength="101" required></ion-input>
          </ion-item>
          <div *ngIf="errorCtr.iTitle.errors && (errorCtr.iTitle.invalid || errorCtr.iTitle.touched)">
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.required">* 
              <!-- Camp requerit -->
              {{'required-field' | translate }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.minlength">* 
              {{'min-character' | translate: {min: 2} }}
            </small>
            <small class="error ion-padding" *ngIf="errorCtr.iTitle.errors?.maxlength">* 
              {{'max-character' | translate: {max: 100} }}
            </small>
          </div>

          <ion-item>
              <ion-label position="stacked"><div class="custom-title textarea-title">
                <!-- Descripció -->
                {{'description2' | translate }}: *
                </div></ion-label>
              <ion-textarea id="iDescription" formControlName="iDescription" minlength="40" maxlength="1001" rows="6" cols="60" required></ion-textarea>
            </ion-item>      
            <div *ngIf="errorCtr.iDescription.errors && (errorCtr.iDescription.invalid || errorCtr.iDescription.touched)">
              <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.required">* 
                <!-- Camp requerit -->
                {{'required-field' | translate }}
              </small>        
              <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.minlength">* 
                <!-- Ha de tenir com a mínim 40 caràcters -->
                {{'min-character' | translate: {min: 40} }}
              </small>
              <small class="error ion-padding" *ngIf="errorCtr.iDescription.errors.maxlength">* 
                <!-- Ha de tenir com a màxim 600 caràcters -->
                {{'max-character' | translate: {max: 1000} }}
              </small>
            </div> 

            <ion-list>
              <ion-item>
                <ion-row class="div-item-container">
                  <div style="width: 210px">
                    <ion-label>
                      <h2 class="custom-title">{{'sectors' | translate}}: *</h2>
                    </ion-label>
                  </div>
                  <!-- es este div!! -->
                  <div class="list list-inset input-select-container"> 
                    <ion-select interface="action-sheet" id="iSector" formControlName="iSector" multiple="true"
                    placeholder="{{'select' | translate }}..." class="select-container" required>
                      <ion-select-option *ngFor="let sector of finalSectorList" value="{{sector.value._id}}"> 
                        {{sector.label}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-row>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-item>
                <ion-row >
                  <div style="width: 210px">
                    <ion-label><h2 class="custom-title">
                    {{'status' | translate}}: *</h2></ion-label> 
                  </div>
                  <div class="list list-inset input-select-container">
                    <ion-select interface="action-sheet" id="iStatus" class="select-container" formControlName="iStatus" placeholder="{{'select' | translate }}..."required>
                      <ion-select-option value="ongoing">
                        {{'ongoing' | translate }}
                      </ion-select-option>
                      <ion-select-option value="idea">
                        {{'idea' | translate}}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-row>
              </ion-item>
            </ion-list>
    
    
          <ion-item lines="none">
            <ion-label>
              <h2 class="custom-title" style="padding-bottom: 0; white-space: normal;">
                {{'skills' | translate }}: *
              </h2>     
              <h5 class="custom-sub" style="white-space: normal;">
                {{'select-skills' | translate }}
              </h5>
            </ion-label>
          </ion-item>
          <ion-item class="ion-padding-top ion-padding-bottom">
            <tag-input [identifyBy]="'id'"
                      [displayBy]="'value'"
                      secondaryPlaceholder="+ {{'skills' | translate}}"
                      placeholder="+ {{'skills' | translate}}"
                      [maxItems]='20'
                      id="iCompetence"
                      formControlName="iCompetence"
                      [removable]="true"
                      [theme]="'upm-tag-theme'">
                  <ng-template let-index="index" let-item="item">
                    {{ item.value | translate }}
                    <delete-icon (click)="removeCompetence(item)"></delete-icon>
                  </ng-template>
              <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'" [matchingFn]="matchCompetencies">
                  <ng-template let-item="item" let-index="index">
                    {{ item.name | translate}}
                  </ng-template>
              </tag-input-dropdown>
            </tag-input>
          </ion-item>
    
          <ion-list>
            <ion-item>
              <ion-row>
                <div style="width: 210px">
                  <ion-label><h2 class="custom-title">
                  {{'city' | translate }}: 
                    </h2></ion-label>
                </div>    
                <div class="list list-inset input-select-container">
                  <ion-select interface="action-sheet" id="iCity" class="select-container" formControlName="iCity"
                  placeholder="{{'select' | translate }}...">
                  <ion-select-option value="" >{{'no-city' | translate}}</ion-select-option>
                    <ion-select-option *ngFor="let city of finalCityList" value="{{city.value}}">{{city.label}}</ion-select-option>
                  </ion-select>  
                </div>  
              </ion-row>       
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-row>
                <div style="width: 210px">
                  <ion-label>
                    <h2 class="custom-title">{{'values' | translate }}: *</h2>
                  </ion-label>
                </div>
                <div class="list list-inset input-select-container"> 
                  <ion-select interface="action-sheet" id="iValues" class="select-container" formControlName="iValues" multiple="true"
                  placeholder="{{'select' | translate }}..." required>
                    <ion-select-option *ngFor="let skill of finalSkillsList" value="{{skill._id}}"> 
                      {{skill.label}}
                    </ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
            </ion-item>
          </ion-list>

          <ion-item lines="none">
            <ion-label>
              <h2 class="custom-title" style="padding-bottom: 0;">
                {{'administrators' | translate }}:
              </h2>     
              <h5 class="custom-sub" style="white-space: normal;">
                ({{'shared-admin-mail' | translate}})
              </h5>
            </ion-label>
          </ion-item>
          <ion-item class="ion-padding-top ion-padding-bottom">
            <tag-input [identifyBy]="'name'"
                      [displayBy]="'name'"
                      secondaryPlaceholder="+ Email"
                      placeholder="+ Email"
                      id="iAdmins"
                      formControlName="iAdmins"
                      [removable]="true"
                      [theme]="'upm-tag-theme'">
                  <ng-template let-index="index" let-item="item" >
                    {{ item.name }}
                    <delete-icon (click)="removeEmail(item)" cy-data="removeEmail"></delete-icon>
                  </ng-template>
              <tag-input-dropdown [autocompleteItems]="usersList" [identifyBy]="'name'" [displayBy]="'name'" [matchingFn]="matchEmail">            </tag-input-dropdown>
            </tag-input>
          </ion-item>
          
    

          <ion-item>
            <ion-row style="width: 100%;">
              <ion-label position="stacked"><div class="custom-title textarea-title">
                {{'additional-info' | translate }}:
              </div></ion-label>
            
              <p class="ion-text-center" style="align-items: center; margin-top: 20px;">
                <ion-button fill="solid" color="primary" shape="round" class="custom-button">
                  <label for="iFile" class="select-btn-label"> {{'select-file' | translate }}</label>
                </ion-button>
              <input type="file" id="iFile" accept=".pdf" (change)="onSelectFile($event)"  style="display:none">
              <ion-card style="text-align: left;">
                <label *ngIf="filenames.length !== 0" >{{'selected-files' | translate }}: 
                  <div *ngFor="let file of filenames">
                    <ion-row>
                      <ion-col>
                        <ion-chip style="white-space: normal;">
                          <ion-label style="white-space: normal;">{{file}} </ion-label>
                        </ion-chip>
                      </ion-col>
                      <ion-col style="max-width: 30px;">
                        <delete-icon style="padding-left: 10px; " (click)="onDeleteFile(file)"></delete-icon>
                      </ion-col>
                    </ion-row>
                  </div>
                </label>
              </ion-card>
              </p>
            </ion-row>
            
              
              
              
          </ion-item>  
          <p class="ion-text-center ion-padding" >
            <ion-col>
              <umu-text-button
                [enabled]="editForm.valid"
                (click)="onSubmit()"
                style="display: grid;"
                class="ion-padding"
                  cy-data="publish-project"
              > {{'create-project' | translate }} </umu-text-button>
            </ion-col>
            @if(!editForm.valid){
              <ion-col>
                <small class="error ion-padding"
                      style="color:red; 
                              display: block"
                >{{'required-values' | translate }}</small>
              </ion-col>
            }
          </p>
        </form>
    </ion-card-content>
    </div>
  </ion-content>
  
