<ion-content fullScreen="true">
  <div>
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <a href="/login">{{'sign-in' | translate }}</a>
      </ion-buttons>
    </ion-toolbar>
    <umu-multilanguage></umu-multilanguage>
    <umu-stepper 
      [steps]="steps" 
      [currentStep]="currentSlide"
      (onStepClick)="goToSlide($event)"
    ></umu-stepper>
    <umu-slider
      [currentSlide]="currentSlide"
      (onSlideChange)="goToSlide($event)"
    >
      <div *umuSlide>
        <umu-register-step-1 (onSubmit)="onStep1Complete($event)"></umu-register-step-1>
      </div>

      <div *umuSlide>
        @if(inputUser.type === "candidate"){
          <umu-candidate-register-step-2 (onValid)="onValidStep($event,3)"></umu-candidate-register-step-2>
        } @else {  
          <umu-company-register-step-2 (onValid)="onValidStep($event,3)"></umu-company-register-step-2>
        }
      </div>

      <div *umuSlide>
        <umu-register-step-3 (onValid)="onValidStep($event,4)"></umu-register-step-3>
      </div>

      <div *umuSlide>
        @if(inputUser.type === "candidate"){
          <umu-candidate-register-step-4 (onValid)="onValidStep($event,5)"></umu-candidate-register-step-4>
        } @else {  
          <umu-company-register-step-4 (onValid)="onValidStep($event,5)"></umu-company-register-step-4>
        }
      </div>

      <div *umuSlide>
        <umu-register-step-5 [userType]="inputUser.type" (onValid)="inputUser.type === 'company' ? onValidStep($event, 7) : onValidStep($event,6)"></umu-register-step-5>
      </div>

      <div *umuSlide>
        @if(inputUser.type === 'candidate'){
          <umu-register-step-7 (onValid)="onValidStep($event,7)"></umu-register-step-7>
        }
      </div>

      <div *umuSlide>
          <umu-register-step-6 [userType]="inputUser.type" (onValid)="onValidStep($event)"></umu-register-step-6>
      </div>

    </umu-slider>
  </div>

  @if(currentSlide > 0){
    <ion-fab 
      slote="fixed"
      vertical="bottom"
      horizontal="center"
    >
      @if((currentSlide == 5 && inputUser.type == 'company') || currentSlide == 6){
        <umu-text-button
          [enabled]="!continueBtnDisabled"
          (click)="finish()"
        >
          {{ 'finish' | translate }}
        </umu-text-button>
      } @else {
        <umu-text-button
          [enabled]="!continueBtnDisabled"
          (click)="onStepComplete(currentFormValue,nextStep)"
        >
          {{ 'continue' | translate }}
        </umu-text-button>
      }
    </ion-fab>
  }

</ion-content>