:host ::ng-deep ion-content {
    padding-top: 0;

    // .full {
    //     height: 100%;
    // }

    ion-fab {
        position: fixed;
    }

    ion-toolbar a {
        padding-left: 20px;
        font-size: small;
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

    .container {
        position: relative;
    }

    p { 
        color: var(--ion-color-accent);
    }

    .grid-container {
        display: grid;
        justify-content: center;
        justify-items: center;
        padding: 2rem;
    }

    label {
        display: block;
        font-size: 20px;
        font-weight: 500;
        margin: auto;
        color: #FFF;
        text-align: center;
    }

    umu-register-step-1 {

        .grid-center {
            gap: 0;
        }

        label {
            padding-top: 1rem;
            margin-bottom: 1.5rem;
        }        

        button.btn-lg ion-icon {
            position: relative;
            top: 2px;
            margin-left: 1rem;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    umu-candidate-register-step-2,
    umu-company-register-step-2 {
        
        .grid-center {
            gap: 1rem;

            p {
                margin: 0 0 2rem;
            }
        }

        ion-thumbnail {
            --size: 68px;
            --border-radius: 50px;
            border-style: solid;
            border-color: var(--ion-color-accent);
            border-width: 2.43px;
        
            img {
                max-width: none;
            }
        }

        umu-fab-button {
            --ion-safe-area-right: -1.5rem; 
            --ion-safe-area-top: -1rem;
        
            ion-fab.fab-vertical-top {
                top: calc(45px + var(--ion-safe-area-top));
            }

            ion-fab-button {
                width: 34.15px;
                height: 34.15px;
                ion-icon{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    umu-text-field,
    umu-select-dropdown,
    umu-textarea,
    umu-tag-input,
    umu-checkbox,
    .softskills-container {
    
        width: 100%;
        max-width: 500px;

        label {
            max-width: 792px;
            margin: auto;
        }
    
        input,
        input[type="text"],
        input[type="password"],
        input:focus,
        input:focus-visible,
        ion-select,
        textarea {
            display: flex;
            width: 100%;
            max-width: 350px;
            height: 44px;
            justify-content: center;
            background: #FFF;
            border-radius: 60px;
            padding: 18px 3rem;
            margin: 1rem 0;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
            border: 0;
            text-align: center;
            outline: none;
            font-size: 16px;
            color: var(--ion-color-contrast-accent);
            
        }

        .container {
            position: relative;
        }

        ion-select::part(text){
            max-width: 230px !important;
        }    
    
        textarea {
            resize: none;
            border-radius: 1.5rem;
            width: 80vw;
            margin: 1rem auto;
            text-align: left;
            font-size: 14px;
            padding: 33px;

        }
    
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    
        ::placeholder {
            color: 999999 ;
        }
    
        .errors {
            text-align: center;
            display: block;
            font-size: 1rem;
            margin: 1rem auto;
            max-width: 350px;
            color: var(--ion-color-accent)
        }
    
        ion-select {
            margin: 1rem auto;
            width: fit-content;
            padding: 8px 3rem;
    
            &::part(icon) {
                margin-left: 2rem;
                color: #889EA6;
            }
    
            &::part(placeholder) {
                color: var(--ion-color-contrast-accent);
                font-weight: 400;
            }
        }
    
        .softskills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: .5rem;
            justify-content: space-between;

            p {
                font-size: 17px;
            }
    
            .softskill {
                text-align: left;
                display: grid;
                align-items: center;
                grid-auto-flow: column;
                justify-content: left;
    
                & ion-toggle {
                    width: 50px;
                    height: 30px;
                    padding: 12px;
                    --border-radius: 60px;
                    --track-background: #D7D8DA;
                    --track-background-checked: var(--ion-color-accent);
                    --handle-background: white;
                    --handle-background-checked: white;
                    --handle-height: 16px;
                    --handle-width: 16px;
                    --handle-spacing: 3px;
                    --handle-box-shadow: none;
                    overflow: visible;
                    contain: none;
    
                    &::part(track) {
                        border: 2px solid white;
                        width: 50px;
                        height: 30px;
                    }
                }
            }
    
        }
    
        ion-checkbox + label {
            color: #000;
            font-size: 1rem;
        }

        ion-icon.eye-off-ico,
        ion-icon.eye-ico {
            width: 18px;
        }
    }

    umu-text-field.experience-input {
        .container {
            margin: auto;
            width: fit-content;
        }
    }    

    .softskills-container {
        max-width: 1000px;
        justify-self: center;
    }

    .softskills {
        margin: 1rem 0;
    }
    
    a {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }

    umu-register-step-6 form {
        padding-bottom: 80px !important;
    }
}

ion-content::part(background) {
    background: linear-gradient(135deg, var(--ion-color-secondary) 0%, #20365B 100%);
    transition: background 0.4s ease;

}

@media only screen and (max-width: 800px) {
    :host ::ng-deep .softskills-container {
        max-width: 350px !important;

        .softskills {
            grid-template-columns: 1fr !important;
        }
    }
}
