<umu-modal 
    [isOpen]="isOpen()" 
    (onClose)="onCloseHandler()" 
    title="update-avatar" 
    customIconName="people"
    [footer]="false"
>
    <div class="grid-center">
        <ion-thumbnail>
            <img [src]="avatarB64()" alt="avatar">
        </ion-thumbnail>
        <div class="grid-center">
            <umu-text-button (click)="displayInput()"> 
                {{'select-avatar' | translate }}
            </umu-text-button>
            <small class="error">*
                {{'max-weight' | translate }}
            </small>
            <input type="file" 
                   id="upload-avatar" 
                   accept=".jpg, .png" 
                  (change)="onSelectNewAvatar($event)" 
                   class="hidden">
            @if(imageChangedEvent && !uploaded) {
                <image-cropper 
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="2 / 2"
                    format="png"
                    (imageCropped)="imageCroppedHandler($event)"
                ></image-cropper>
            }
            @if(avatar) {
                <div class="grid-center">  
                    <label>{{'new-avatar' | translate }}:</label>
                    <ion-thumbnail>
                        <img [src]="avatar" alt="avatar">
                    </ion-thumbnail>   
                    <umu-text-button (click)="setImageHandler(avatar)"> 
                        {{'update-avatar' | translate }}
                    </umu-text-button>
                </div>
            } 
        </div>    
    </div>
</umu-modal>