ion-thumbnail {
    --size: 68px;
    --border-radius: 50px;
    border-style: solid;
    border-color: var(--ion-color-accent);
    border-width: 2.43px;

    img {
        max-width: none;
    }
}

label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.error {
    font-size: 16px;
    font-weight: 500;
}

.hidden {
    display: none;
}
