<ion-header class="{{headerScrolled === true ? 'ion-no-border bg-gradient' : 'ion-no-border bg-transparent'}}">
  <umu-toolbar></umu-toolbar>
</ion-header>
<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <umu-title-header [fullScreen]="true" [titleText]="titleText()" id="targetSection"></umu-title-header>
  <div class="content-container-inner">
      <ng-content></ng-content>
  </div>
</ion-content>
<umu-main-menu-mobile></umu-main-menu-mobile>