.header-container {
      max-width: 100%;
      margin: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      margin-top: -56px;
  
      h2 {
          font-size: clamp(18px, 5vw, 28px);
          font-weight: 500;
          text-align: center;
          margin-top: .60rem;
          margin-bottom: 0.25rem;
          padding-bottom: 0px;
          color: white;
    }
}

.content-container-inner {
    max-width: var(--max-content-width);
    margin: auto;
}

@media screen and (max-width: 576px) {
    .bg-gradient {
        background: var(--ion-color-primary);
    }
}