<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="disable">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>