<umu-only-toolbar-layout class="ion-page">
  <div class="header-class">
    <div style="display: grid; grid-auto-flow: column; gap: 50px; justify-content: center;">
      <ion-thumbnail class="avatar-center">
        <div *ngIf="avatar; else elseBlock">
          <img width="100px" [src]="avatar" alt="">
        </div>
        <ng-template #elseBlock>
          <img src="./../../../assets/avatar.svg" />
        </ng-template>
      </ion-thumbnail>  
    </div>
    <ion-label class="header-text">
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col> 
            <ion-title> 
              <ion-label class="title-offer" color="dark">
                {{ entityUser?.name }} - {{entityUser?.city | translate }} 
              </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>   
  </div>

  <ion-toolbar>
    <ion-buttons slot="start">
      <umu-back-button></umu-back-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Content -->
  <div class="container">
    <ion-card class="content-info ion-padding-bottom">
      <ion-card-content>
         <!-- Skills -->   
        <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
          <h2>{{ 'values' | translate }}</h2>
        </div>

        <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
          <div class="custom-icon" *ngFor="let skill of skillsIco">
            <ion-icon class="{{skill.sClass}} "></ion-icon>
            <span><div class="small-size"> {{ skill.sname | translate }} </div></span> 
          </div>
        </div>
      </ion-card-content>
      <ion-card-content>
        <div style="display: grid; grid-auto-flow: column; justify-content: left; gap: 20px;">
          <ion-title>{{ 'info' | translate }}</ion-title>
        </div> 
        <ion-card class="ion-padding">
          <ion-row *ngIf="userType === 'company'"><p class="title">{{'company-name' | translate }}:</p><p class="padding-left">{{ entityUser?.name }}</p></ion-row>
          <ion-row *ngIf="userType === 'candidate'"><p class="title">{{'name' | translate }}:</p><p class="padding-left">{{ entityUser?.name }}</p></ion-row>
          <ion-row *ngIf="userType === 'candidate'"><p class="title">{{'surname' | translate }}:</p><p class="padding-left">{{ entityUser?.surname }}</p></ion-row>
          <ion-row *ngIf="userType === 'company' && entityUser?.website"><p class="title">{{'website' | translate }}:<a (click)="goToWebsite()" class="padding-left" style="cursor: pointer; font-size: 24px;">{{ entityUser?.website }}</a></p></ion-row>
          <ion-row><p class="title">{{'email' | translate }}:</p><p class="padding-left">{{ entityUser?.email }}</p></ion-row>
          <ion-row><p class="title">{{'city' | translate }}:</p><p class="padding-left">{{ entityUser?.city }}</p></ion-row>
          
          <ion-row *ngIf="userType === 'candidate'"><p class="title">{{ 'qualification' | translate }}:</p><p class="padding-left">{{entityUser?.eduLevel}}</p></ion-row>
          <ion-row *ngIf="userType === 'candidate'"><p class="title">{{'last-job' | translate }}:</p><p class="padding-left">{{ entityUser?.jobPosition }}</p></ion-row>
          <ion-row >
            <p class="title">{{'sectors' | translate}}:</p>
            <div class="sector">
              <ion-col style="padding-top: 0px;">
                <ion-label>
                  <h4 class="padding-left">
                    <ion-chip *ngFor="let sector of entityUser?.sector" >
                      <ion-label style="font-size: 16px; hyphens: auto;"> {{ sector.name | translate }} </ion-label>
                    </ion-chip>
                  </h4>
                </ion-label>
              </ion-col>
            </div> 
          </ion-row>
          <p class="padding-left" *ngIf="userType === 'candidate' && entityUser?.experience === 'candidate'">{{entityUser?.experience}} {{'experience-sing' | translate}}</p>
          <p class="padding-left" *ngIf="userType === 'candidate'&& entityUser?.experience !== 'candidate'">{{entityUser?.experience}} {{'experience' | translate}}</p>
          <p class="padding-left" *ngIf="userType === 'company' && entityUser?.experience === 'candidate'">{{entityUser?.experience}} {{'seniority-sing' | translate }}</p>
          <p class="padding-left" *ngIf="userType === 'company' && entityUser?.experience !== 'candidate'">{{entityUser?.experience}} {{'seniority' | translate }}</p>
          <p class="title">{{ 'skills' | translate }}:</p>
          <ion-label *ngIf="userType === 'candidate'">
            <h4 class="margin">
              <ion-chip *ngFor="let compet of userCompets">
                <ion-label style="font-size: 16px;"> {{ compet.name | translate }} </ion-label>
              </ion-chip>
            </h4>
          </ion-label>
          <p class="title" *ngIf="userType === 'candidate'">{{ 'languages' | translate }}:</p>
          <ion-label *ngIf="userType === 'candidate'">
            <h4 class="margin">
              <ion-chip *ngFor="let lang of entityUser?.languages">
                <ion-label style="font-size: 16px;"> {{ lang | translate }}</ion-label>
              </ion-chip>
            </h4>
          </ion-label>
          <p class="padding-left" >{{entityUser?.experience}} {{'seniority' | translate }}</p>
          <ion-row><p class="title">{{'description' | translate }}:</p><p class="padding-left">{{ entityUser?.lastJobTasks }}</p></ion-row>
        </ion-card> 
      </ion-card-content>
      <ion-card-content>
        <div name="cv"  *ngIf="entityUser?.cv">
          <h2>Curriculum Vitae</h2>
          <ion-label>
            <h4 class="nomargin">
              <ion-button color="primary" shape="round" (click)="downloadCV()">{{'download' | translate}}</ion-button>
            </h4>
          </ion-label>
        </div>
        <div name="cover-letter" *ngIf="entityUser?.coverLetter">
          <h2>{{ 'cover-letter' | translate }}</h2>
          <h4 class="nomargin" style="text-align: justify;">
            {{entityUser?.coverLetter}}
          </h4>
        </div>
        <div name="video" *ngIf="entityUser?.video">
          <h2>{{ 'presentation-video' | translate }}</h2>
          <a target="_blank" href="{{entityUser?.video}}">{{entityUser?.video}}</a>
        </div>
      </ion-card-content>
    </ion-card>   
  </div>
</umu-only-toolbar-layout>
<umu-start-chat-button
  [recipient]="entityUser"
  [isTextBtn]="true"
></umu-start-chat-button>