:host {
    --umu-safe-area-top: -.5rem;
    --umu-safe-area-bottom: 0;
    --umu-safe-area-left: 0;
    --umu-safe-area-right: -1rem;
}

div {
    position: absolute;
}

.top {
    top: var(--umu-safe-area-top); 
}

.bottom {
    bottom: var(--umu-safe-area-bottom); 
}

.left {
    left: var(--umu-safe-area-left); 
}

.right {
    right: var(--umu-safe-area-right); 
}