<div [class]="position">
  <ion-button [color]="color()" shape="round" [disabled]="disabled()">
    @if(iconName() !== ''){
      <ion-icon [name]="iconName()" slot="icon-only" size="small"></ion-icon>
    } @else if(iconPath() !== ''){
      <ion-icon [src]="iconPath()" slot="icon-only" size="small"></ion-icon>
    }
    <!-- <ng-content></ng-content> -->
  </ion-button>
</div>