<ion-modal #modal [isOpen]="isOpen()" [ngStyle]="modalStyle()">
  <ng-template>
    <div class="modal-container" [ngStyle]="modalBgStyle">
    @if(showCloseButton()) {
      <ion-row class="ion-justify-content-end">  
        <ion-button color="accent" (click)="onCloseEvent()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-row>
    }
      @if(contentText() !== '' ){ 
        <ion-text class="content-container">
          <span class="text">
            {{ contentText() | translate }}
          </span>
        </ion-text>
      } @else {
        <div class="content-container">
          <ng-content></ng-content>
        </div>
      }
    </div>
  </ng-template>
</ion-modal>