.modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: linear-gradient(rgba(255, 255, 255, 0.5), 
                rgba(255, 255, 255, 0.1));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 70%;
}


