.grid-container {
    display: grid;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
}

.flex-row {
    display: flex;
    gap: .5rem;
    flex-flow: wrap;
}

.v-line{
    margin-left: 1rem;
    margin-right: .4rem;
    border-left: solid 2px #999999;
}

.name {
    color: #999999;
}

.content {
    font-weight: 700;
    white-space: normal;
    word-break: break-word;
}

umu-title {
    margin-bottom: .7rem;
}

@media screen and (max-width: 576px) {
    .sectors-mobile {
        display: contents;
        gap: 1rem;
    }
}