<div class="grid-container">
    @if(title()){
        <umu-title type="h3">{{ title() | translate }} </umu-title>
    }
    @for(item of infoList(); track item){
        @if(item.content !== ''){
            <div class="flex-row">
                
                <span class="name">{{item.name | translate }}:</span>
                @if(item.name === 'sectors'){
                    <div class="sectors-mobile">
                        @for(sector of item.content; track sector){
                            <span class="content">{{sector.name | translate }} <span class="v-line"></span> </span>
                        }
                    </div>
                } @else {
                    <span class="content">{{item.content | translate }}</span>
                } 
            </div>
        }
    }
</div>
