<div class="{{typeOfCard}}">
    <div class="card-header">
      @if(typeOfCard === 'card-container fits') {
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <div class="checkbox-container">
            <ion-checkbox (ionChange)="onToggle.emit($event)" ></ion-checkbox>
            <span class="checkbox-text">  {{'hired-checkbox' | translate }}</span>
          </div>  
          <umu-mini-tag
              [infoId]="infoId"
              [iconName]="iconName"
              class="tag"
          ></umu-mini-tag>
        </ion-row>
      } @else if(typeOfCard === 'card-container no-fits'){
        <ion-row class="ion-justify-content-end ion-align-items-center">
          <umu-mini-tag
            [infoId]="infoId"
            [iconName]="iconName"
            class="tag"
          ></umu-mini-tag>
        </ion-row>
      }
      <ion-row class="header-main-content">
        <ion-col size="2" class="avatar-col">
            <ion-thumbnail class="avatar">
              @if(candidate().user.avatarB64){
                <img [src]="candidate().user.avatarB64" />
              } @else if (!candidate().user.avatarB64) {
                <img src="./../../../../assets/avatar.svg" />
              }
            </ion-thumbnail>
          </ion-col>
          <ion-col size="9" class="title-container ion-align-self-center">
            <h2 class="title" cy-data="offer-title" >{{ candidate().user.name | translate }} </h2>
            <span class="link" (click)="goCandidateProfile()">{{'go-to-profile' | translate}}</span>
          </ion-col>
      </ion-row>
    </div>
    <div class="card-content">
      <ion-row>
        <ion-col class="company-col">
          <h3 class="company">{{ candidate().user.jobPosition| translate }} </h3>         
          <p class="details">{{candidate().user.city | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="content">
            <small class="match-text">{{'compatibility-level'| translate}}</small>
            <ion-range labelPlacement="start" [min]=0 [max]=100 [value]="candidate().match.total">
                <div slot="start">
                  <span class="match">{{candidate().match.total}}%</span>
                </div>
            </ion-range>   
        </ion-col>       
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col class="button-container">
          @if(typeOfCard === 'card-container fits') {
            <umu-start-chat-button [isTextBtn]="true" [recipient]="candidate().user"></umu-start-chat-button>
          } @else if(typeOfCard === 'card-container no-fits' || typeOfCard === 'card-container no-evaluated'){
            <umu-text-button 
              class="textBtn1"
              [color]="btnColor1"
              (click)="typeOfCard === 'card-container no-fits' ? btn1Handler($event) : btn1Handler()">{{textOnBtn1| translate}}
            </umu-text-button>
            <umu-modal [isOpen]="isModalOpen" (onClose)="onCloseEvent()"></umu-modal>
          }
          <umu-text-button 
              class="textBtn2" 
              [color]="btnColor2"
              (click)="btn2Handler()">{{textOnBtn2 | translate}}</umu-text-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  
  