
.card-container{
    position: relative;
    width: 495px;
    height: 357px;
    padding: 26px;
    cursor: pointer;
    border: 1px solid #5493B2;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    color: #18365C;

    .header-main-content {
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .avatar-col {
        padding-left: 0;
    }
    ion-thumbnail.avatar {
        width: 80px;
        height: 80px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }

    .title-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 900;
        padding-left: 27px;
        padding-top: 0;
        padding-bottom: 0;
    }


    .title,
    .company {
        color: var(---ion-color-login-dgDark);
        margin-top: 0;
        margin-bottom: 0;
    }
    .title {
        font-size: 1.5rem;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 235px;
        margin-bottom:8px;
    }
    .company {
        font-size: 1rem;
        font-weight: 500;
    }

    .details {
        color: #999999;
        font-size: .9rem;
        font-weight: 500;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .match-text {
        color: var(--ion-color-medium-grey);
    }

    .match {
        color: var(--ion-color-login-dgDark);
        font-weight: 600;
        font-size: 18px;
    }

    .card-container:hover {
        border-color: var(--ion-color-dark-green);

    }
    .card-content {
        small, .company {
            color: #999999;
        }
        .company {
            font-weight: 900;
        }
    }
    ion-range {
        padding-top: 0;
        padding-bottom: 20px;
        pointer-events: none;
        --knob-box-shadow: 0 0 0 4px white;
        --bar-background: #D9D9D9;
        --bar-background-active: var(--ion-color-accent-contrast);
        --bar-height: 6px;
        --bar-border-radius: 6px;
        --knob-background: var(--ion-color-accent-contrast);
        --knob-size: 20px;
        --height:25px;
    }
    umu-text-button::ng-deep ion-button {
        margin-top: 0;
        margin-right:0;
        margin-left:0;
    }
    .company-col{
        border-bottom: 2px solid var(--ion-color-accent);
        margin-bottom: 12px;
        padding-bottom: 10px;
        padding-top: 0;
        padding-left: 0;
    }
    .link {
        text-decoration-line: underline;
    }
}
.tag {
    color: white;
    justify-content: flex-end;

}
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    padding-top: 0;
}
umu-mini-tag::ng-deep {

    &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 28px;
        width: 100px;
        border-radius: 4px;
        padding: 6px;

        .tag-icon {
            display: flex;
            width: 25%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 19px;
                height: 19px;
            }
        }

        .tag-info {
            font-size: 12px;
            font-weight: 600;
            line-height: normal;  
        }
    }
}
.card-container.no-evaluated {
    .header-main-content {
        padding-top: 0;
    }
    .company-col {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    ion-range {
        padding-bottom: 40px;
    }
    umu-text-button::ng-deep ion-button {
        //la media query sigue pillando este valor en vez de cambiarlo
        width: 216px;
    }
    umu-text-button.textBtn2::ng-deep ion-button {
        --border-color: var(--ion-color-no-fits);
        font-weight: 700;
    }
    umu-text-button.textBtn1::ng-deep ion-button {
        --border-color: var(--ion-color-fits);
        font-weight: 700;
        
    }
}


// Fits card styles
.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    ion-checkbox::part(container) {
        width: 22px;
        height: 22px;
        border-radius: 5px;
        border: 2px solid var(--ion-color-accent-contrast);
    }
    checkbox-text {
        font-size: 14px;
        font-weight: 500;
    }
}    
.card-container.fits {
    border: 1px solid #06803B;

    umu-mini-tag::ng-deep div{
        background: #06803B;        
        width: 78px;
    }
    umu-text-button::ng-deep ion-button {
        width: 216px;
    }
    umu-start-chat-button::ng-deep umu-text-button {
        position:static;
        transform: none;

        &> ion-button {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            min-width: 216px;
        }
    }
}

// No-fits card styles
.card-container.no-fits {
    border: 1px solid #D52127;
    
    umu-mini-tag::ng-deep div{
        background: #D52127;
        width: 98px;
        .tag-icon {
            width: 18px;
            margin-right: 4px;
        }
    }
    umu-text-button::ng-deep ion-button {
        width: 216px;
    }
}


// Media querys
@media screen and (max-width: 576px) {
    .card-container {
        width: 335px;
        height: 350px;

        .title-container{
            padding-left: 50px;
        }


        &.fits,
        &.no-fits,
        &.no-evaluated {
            umu-text-button::ng-deep ion-button {
                width: 137.5px;
            }
        }
    }
    .card-container.fits {
        umu-start-chat-button::ng-deep umu-text-button {
            position:static;
            transform: none;
    
            &> ion-button {
                min-width: 137.5px;
                width: 137.5px;
            } 
        }
    }


}  