<div class="container">
    <ion-thumbnail>
        <img [src]="newAvatarB64" alt="User avatar">
    </ion-thumbnail>
    @if(isEditable()){
        <umu-fab-button horizontal="right" vertical="top" [iconPath]="'./../../../assets/icons/edit_icon.svg'" (click)="openAvatarModal()"></umu-fab-button>
    }
    <umu-avatar-modal 
        [isOpen]="isModalOpen"
        [avatarB64]="newAvatarB64"
        (onNewAvatar)="updateAvatar($event)"
        (onClose)="onCloseEvent()"
    ></umu-avatar-modal>
</div>