:host {
    --thumbnail-size: 72px;
    --thumbnail-border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

ion-thumbnail {
    --size: var(--thumbnail-size);
    --border-radius: var(--thumbnail-border-radius);
    border-style: solid;
    border-color: var(--ion-color-accent);
    border-width: 2px;
    position: relative;
    --ion-safe-area-right: -2rem;
    --ion-safe-area-bottom: -1.5rem;
}

ion-fab {
    margin-bottom: var(--ion-safe-area-bottom, 0);
}

p {
    color: var(--ion-color-accent);
    font-size: 16px;
}
