@if(userType != '') {
  <!-- Mobile -->
  <ion-footer class="mobile ion-no-border">
    <ion-toolbar>
      <ion-grid> 
        <ion-row class="">
          <ion-col>
            <div routerDirection="root" [routerLink]="[derivedValue.profileRouterLink]" lines="none" detail="false">
              <ion-icon name="person-outline"></ion-icon>
              <ion-label>{{'profile' | translate}}</ion-label>
            </div>
          </ion-col> 
          <ion-col>
            <div routerDirection="root" [routerLink]="[derivedValue.offerRouterLink]" lines="none" detail="false">
              <ion-icon name="briefcase-outline"></ion-icon>
              <ion-label>{{'offers' | translate }}</ion-label>
            </div>
          </ion-col>
          <ion-col >
            <div routerDirection="root" [routerLink]="['/all-projects-list']" lines="none">
              <ion-icon name="rocket-outline" cy-data="projects"></ion-icon>
              <ion-label>{{ derivedValue.textUndertakeOrProjects | translate }}</ion-label>
            </div>
          </ion-col>          
          <ion-col>
            <div routerDirection="root" [routerLink]="['/legal-info']" lines="none">
              <ion-icon name="information-circle-outline"></ion-icon>
              <ion-label>{{'info' | translate }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </ion-toolbar>
  </ion-footer>
}

  