/* Mobile */
@media (min-width: 801px){
    .mobile {
        display: none;
    }
}

ion-footer.mobile {

  padding: .5rem 1rem;
  border-top: 1px solid var(--ion-color-text);
  background-color: white;

  ion-toolbar{ 

    ion-col > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    }

    ion-icon { 
      width: 30px; 
      height: 30px; 
      vertical-align: middle;       
    }

  }

  ion-label {
    font-size: 12px;
  }
  
}
