.flex-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flex-row{
    display: flex;
    gap: 2rem;
}
.info {
    gap: 1.5rem;
}

label {
    font-size: 20px;
    font-weight: 600;
    color: var(--ion-color-text)
}

umu-text-field[variant="modal"]::ng-deep {
    
    #description, #requirements {
        padding-bottom: 6rem;
        padding-top: 1.5rem; 
    }

    input {
        font-size: 16px;
    }
}

umu-text-button {
    width: 100%;
}

umu-text-button::ng-deep ion-button {
    width: 100%;
    --border-width: 0px
}