<form [formGroup]="form" class="grid-container">
  <umu-text-field
    labelId="website"
    placeholderId="website"
    name="website"
    [maxLength]="websiteMaxLength"
    [control]="controls.website"
  ></umu-text-field>

  <umu-select-dropdown
    labelId="what-sector"
    placeholderId="select"
    name="sector"
    [optionsTranslated]="translatedAndOrderedSectors"
    [multiple]="true"
    [required]="true"
    [control]="controls.sector"
  ></umu-select-dropdown>

  <umu-text-field
    class="experience-input"
    labelId="company-age"
    type="number"
    name="experience"
    [min]="0"
    [max]="99"
    unitsId="years"
    [control]="controls.experience"
  ></umu-text-field>
</form>