.header {
    umu-title {
        padding-right: 1.7rem;
        word-break: break-word;
        border-right: 2px solid var(--ion-color-accent-contrast);
    }
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--ion-color-accent);
}
.candidates {
    text-transform: lowercase;
    color: var(--ion-color-accent-contrast);

    span {
        margin-top: .4rem;
    }
}

.flex-row {
    display: flex;
    gap: .5rem;
}

.grid-container {
    display: grid;
    gap: 2rem;
}

.center {
    justify-content: center;
}

umu-mini-tag.people-enrolled::ng-deep {
    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;

        .tag-icon {
            padding: 4px;
            width: 2rem;
        }

        .tag-info {
            margin-left: 5px;
            font-weight: 900;
        }
    }
}

umu-mini-tag.enrolled::ng-deep {

    &>div {
        position: absolute;
        top: 3rem;
        right: 3.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 25px;
        width: 100px;
        background-color: var(--ion-color-tertiary);
        border-radius: 3px;
        padding: 6px 4px 6px 4px;

        .tag-icon {
            display: flex;
            width: 25%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 15px;
            }
        }

        .tag-info {
            font-size: 12px;
            font-weight: bold;
            line-height: normal;  
        }
    }
}

@media screen and (max-width: 576px) {
    umu-mini-tag.enrolled::ng-deep div {
        top: 1.8rem;
        right: 1.5rem;
    }

    .header {
        margin-right: 1.5rem;
        umu-title {
            padding-top: 3rem;
            padding-right: 0rem;
            border-right: 0px;
        }
    }

    .no-tag {
        padding-top: 1.5rem !important;
    }

    umu-info-text {
        margin-right: 1.5rem;
    }
}



// ion-toolbar {
//     max-width: var(--max-header-width);
//     margin: auto;
// }

// .content-container-inner {
//     max-width: var(--max-content-width);
//     margin: auto;
// }

// .disable {
//     display: none;
// }

// ion-header {
//     box-shadow: none !important;
// }

// ion-title {
//     font-size: 30px;
//     font-weight: 600;

//     .title-offer {
//         font-size: 28px;
//         font-weight: 500;
//     }
// }

// .container {

//     .center-class {
//         text-align: center;
//     }

//     ion-card.content-info {
//         margin: 10px auto;
//         border-radius: 0;
//         max-width: 1000px;


//         .user-avatar {
//             width: 85px;
//             min-height: 85px;
//         }

//         img.users {
//             border-radius: 10%;
//         }

//         @media(max-width: 500px) {
//             .user-avatar {
//                 display: none;
//             }
//         }


//         ion-button {
//             margin: 30px 15px;
//             font-weight: bold;
//             height: 40px;
//             text-transform: capitalize;

//             .edit-btn {
//                 margin: 0 !important;
//             }

//             span {
//                 color: white;
//             }
//         }
//     }


//     ion-card-content {
//         h4.margin {
//             margin: 30px;
//         }

//         .custom-title {
//             color: #466B6E;
//             font-weight: 500;
//             font-size: 20px;
//             text-transform: uppercase;
//         }

//         .custom-subtitle {
//             color: gray;
//             font-weight: 500;
//             font-size: 20px;
//         }
//     }

//     ion-fab-button {
//         width: 45px;
//         height: 45px;
//         box-shadow: none !important;
//     }

//     .margin-fab-btn {
//         margin: 15px 50px;
//     }

//     .exp-title {
//         h3 {
//             font-weight: bold;
//             margin-top: 25px;
//         }

//         h5 {
//             margin-bottom: 25px;
//         }
//     }

//     ion-label ion-chip {
//         background-color: white;
//         color: #9FC6BA;
//         font-size: 16px;
//         font-weight: 500;
//         height: min-content;
//         text-align: left;
//         border-color: #9FC6BA;
//         border-style: solid;
//         border-width: 0.82px;
//         border-radius: 49px;
//         padding-top: 14px;
//         padding-bottom: 14px;
//         padding-left: 39px;
//         padding-right: 39px;
//         cursor: default;
//     }

//     .separator {
//         border: 1px solid #4acdba;
//         position: fixed;
//         width: 85%;
//         z-index: 2;
//     }
// }

// .text-space {
//     white-space: normal;
// }

// .custom-icon {

//     ion-icon {
//         width: 25px;
//         height: 25px;
//         vertical-align: middle;
//     }

//     ion-label {
//         color: #5a7266;
//     }

//     span {
//         margin-left: 5px;
//         font-size: 16px;
//     }
// }

// /* Outside toolbar header */
// .header-class {
//     background-color: var(--ion-color-upmeup);
//     padding-top: 5px;

//     .head-line {
//         border: 3px #c8e3d6 solid;
//     }

//     ion-thumbnail {
//         margin: 0 auto;
//         width: 110px;
//         height: 110px;
//     }

//     img {
//         border-radius: 50%;
//     }

//     .header-text {
//         display: block;
//         text-align: center;
//         font-weight: 500;
//     }

//     .text-no-valors {
//         display: block;
//         text-align: center;
//         font-size: 16px;
//     }

//     .grid-info {
//         margin: 0px 10% 0px;
//         font-size: 16px;
//     }

//     ion-label ion-icon {
//         width: 35px;
//         height: 35px;
//         vertical-align: middle;
//     }

//     .title-offer {
//         white-space: normal;
//     }

//     .custom-icon {
//         ion-label {
//             color: #5a7266;
//         }

//         span {
//             margin-left: 5px;
//             font-size: 16px;
//         }
//     }
// }

// /**
// *** Web Responsive style@media (max-width: 1020px) {
//     ion-list { width: 80%; margin: 10px auto; } 
//     .offer-avatar { width: 80px; height: 80px; }
//     img.offers { margin-left: -20%;  }    
// }
// **/
// @media (min-width: 1020px) {


//     ion-content {
//         .container {
//             ion-card-content {
//                 padding: 30px;
//             }

//             margin-left: 20%;
//             margin-right: 20%;
//         }
//     }

//     ion-row.offerTitle {
//         padding-inline-start: 0;
//         padding-inline-end: 0;
//     }
// }

// @media (max-width: 1020px) {

//     ion-row.offerTitle {
//         padding-inline-start: 5%;
//         padding-right: 5%;
//     }

//     ion-row.offerList {
//         padding-inline-start: 5%;
//         padding-right: 5%;
//         display: grid;
//     }

//     ion-card {
//         max-width: 500px;
//         margin: 10px
//     }




// }