@if(me.type != undefined) {
  <!-- Desktop -->
  <ion-menu contentId="main-content" class="desktop">
    <ion-header  class="ion-no-border">
      <ion-menu-toggle class="close-btn">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-menu-toggle>
      <ion-label><h3>{{ me.name }}</h3></ion-label>
    </ion-header>

    <ion-content>
      <ion-list>
        @for(page of pages; track $index){
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false">
              <ion-icon slot="start" [icon]="page.icon" color="text"></ion-icon>
              <ion-label color="text"> {{page.title | translate}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        }
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border">
      <div class="multilanguage-container">
        <umu-multilanguage  position="relative" color="text"></umu-multilanguage>
      </div>
      <ion-item (click)="logOut()" lines="none" detail="false">
        <ion-icon slot="start" color="text" name="power"></ion-icon>
        <ion-label color="text">{{'disconnect' | translate }}</ion-label>
      </ion-item> 
    </ion-footer>
  </ion-menu>
  
}

  