/* Destop */

@media (max-width: 801px){
  .desktop {
      display: none;
  }
}

.desktop {

  ion-header {
    background-color: var(--ion-color-accent);
    color: var(--ion-color-text);
    padding:  1rem 1rem 2rem 3rem;
  
    ion-menu-toggle.close-btn {
      display: grid; 
      justify-content: right; 
      cursor: pointer;
      
      ion-icon {
        font-size: 30px;
      }
    }
  
    h3 {
      font-weight: 500;
      margin-top: 4rem;
      font-size: 28px;
    }
  }
  
  & > ion-content > ion-list {
    padding: 20px 3rem;
  }
  
  & > ion-content > ion-list ion-item {
    --padding-start: 0;
    font-weight: 500;
  }
  
  ion-menu-toogle > ion-item > ion-icon {
    width: 30px; 
    height: 30px;
  }
  
  ion-menu-toogle > ion-item > ion-label {
    font-size: 20px;
  }
  
  ion-footer {
    background-color: var(--ion-color-accent);
  

    ion-icon { 
      width: 30px; 
      height: 30px; 
      vertical-align: middle;       
    }
  
    ion-item {
      padding: 0 1rem 0 3rem;

      --background: transparent;
      --padding-start: 0;
    }
  
    ion-item:hover {
      cursor: pointer;
    }
  }
}

:host::ng-deep div.multilanguage-container {
  border-top: solid 1px var(--ion-color-accent); 
  // height: 45px;
  padding-left: 0;
  
  & div {
    padding: 1rem 1rem 1rem 3rem;
    background-color: white;
    justify-content: left;
    margin: 0;
  }

  & button {
    color: var(--ion-color-text);
    text-transform: capitalize;
    font-weight: 500;
  }
}



 