ion-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    white-space: normal;
}

ion-text {
    font-size: 20px;
    color: var(--ion-color-text)
}


ion-button {
    text-transform: none;
    font-weight: bold;
    width: 200px;
}
.margin {
    margin: 2rem;
    padding-bottom: 10rem;
}

.flex-row{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    flex-flow: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.text {
    gap: .5rem;
}

.h3 {
    font-size: 28px;
    font-weight: 500;
}


@media (max-width: 801px){
    umu-text-button {
        display: none;
    }
    .margin {
        padding-bottom: 0
    }
}