@if(me){
  <umu-default-layout class="ion-page">
    <div class="flex-column margin">
      <umu-title type="h1">{{'congratulations' | translate }}</umu-title>
      <div class="flex-column text">
        <ion-text >{{'enrolled' | translate }}</ion-text>
        @if(me.type === 'company'){
          <ion-text>¡{{'welcome-user' | translate}} !</ion-text>
        }
        @if(me.type === 'candidate'){
          <ion-text>¡{{'welcome-company' | translate }}!</ion-text>
        }
          
      
      </div>
      
      <div class="flex-row">
        <umu-text-button
            (click)="goToProfile()"
        > {{'edit-profile-inf' | translate }}
        </umu-text-button>
        @if(me.type === 'company'){
          <umu-text-button
            (click)="goToCreateOffer()"
          > {{'publish-offer' | translate }}
          </umu-text-button>
        } @else if(me.type === 'candidate'){
            <umu-text-button
              (click)="goToOfferList()"
            > {{'consult-offers' | translate }}
            </umu-text-button>
        }
        <umu-text-button
              (click)="goToProjectList()"
        > {{'undertake' | translate }}
        </umu-text-button>
      </div>
    </div>
  </umu-default-layout>
}



