ion-toolbar {
  max-width: var(--max-header-width);
  margin: auto;
  --background: transparent;

}


@media (min-width: 800px){
    .mobile {
        display: none;
    }
  }
  
  
  @media (max-width: 800px){
    .desktop {
        display: none;
    }
  }