@if(auth.isLogged()) {
<ion-toolbar>
  <ion-buttons slot="start" class="desktop">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon color="accent" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>
  <ion-buttons slot="end">
    <umu-chat-button></umu-chat-button>
  </ion-buttons>
</ion-toolbar>
}