<form [formGroup]="form" class="grid-container">

  <div class="softskills-container">
    <label>
      {{ 
        (userType() === 'candidate' ? 
        'softskills-disclaimer-user' : 
        'softskills-disclaimer-company') | translate 
      }}
    </label>
    <div class="softskills">
      @for(softSkill of softSkillsList; track softSkill.name){
        <div class="softskill">
          <ion-toggle 
            (click)="toggleSkill(softSkill._id)" 
            slot="start"
            [disabled]="userSkills?.length>=6 && !userSkillsIds.has(softSkill._id)">
          </ion-toggle>
          <p>{{softSkill.name | translate}}</p>
          
        </div>
      }
    </div>
  </div>

  <umu-privacy-checkbox
    [control]="controls.privacy"
  ></umu-privacy-checkbox>

  <umu-checkbox
    name="comms"
    labelId="comms-accept"
    [required]="true"
    [control]="controls.comms"
  ></umu-checkbox>
</form>