<div class="container">
  <ion-checkbox 
    slot="start" 
    (ionChange)="onToggle.emit($event)" 
    [id]="name()"
    [required]="required()"
    [formControlName]="name()"
  ></ion-checkbox>
  @if (labelId() !== '') {
    <label>{{labelId() | translate }}</label>
  } @else {
    <ng-content></ng-content>
  }
</div>
<div class="errors">
  @if(control().hasError('required')){
    <p class="error ">* {{ 'required-field' | translate }}</p>
  }
</div>