.header {
    umu-title {
        padding-right: 1.7rem;
        word-break: break-word;
        border-right: 2px solid var(--ion-color-accent-contrast);
    }
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--ion-color-accent);
}
.candidates {
    text-transform: lowercase;
    color: var(--ion-color-accent-contrast);

    span {
        margin-top: .4rem;
    }
}

.grid-container {
    display: grid;
    gap: 2rem;
}

.flex-row {
    display: flex;
    gap: .5rem;
}

.center {
    justify-content: center;
}

umu-mini-tag.people-enrolled::ng-deep {
    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;

        .tag-icon {
            padding: 4px;
            width: 2rem;
        }

        .tag-info {
            margin-left: 5px;
            font-weight: 900;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {

        umu-title {
            border-right: 0px;
        }
    }
}




// .header-container {
//     background-color: var(--ion-color-upmeup);
//     padding-top: 5px;

//     .header-container-inner {

//         max-width: var(--max-content-width);
//         margin: auto;

//         .head-line {
//             border: 3px #c8e3d6 solid;
//         }

//         ion-thumbnail {
//             margin: 0 auto;
//             width: 110px;
//             height: 110px;
//         }

//         img {
//             border-radius: 50%;
//         }

//         .header-text {
//             display: block;
//             text-align: center;
//             font-weight: 500;
//         }

//         .text-no-valors {
//             display: block;
//             text-align: center;
//             font-size: 16px;
//         }

//         .grid-info {
//             margin: 0px 10% 0px;
//             font-size: 16px;
//         }

//         ion-label ion-icon {
//             width: 35px;
//             height: 35px;
//             vertical-align: middle;
//         }

//         .title-offer {
//             white-space: normal;
//         }

//         .custom-icon {
//             ion-label {
//                 color: #5a7266;
//             }

//             span {
//                 margin-left: 5px;
//                 font-size: 16px;
//             }
//         }
//     }
// }

// ion-toolbar {
//     max-width: var(--max-header-width);
//     margin: auto;
// }

// .content-container-inner {

//     max-width: var(--max-content-width);
//     margin: 2rem auto;

//     ion-title {
//         text-wrap: wrap;
//         font-size: 30px;
//         font-weight: 600;
//         padding: 0;

//         ion-label {
//             text-wrap: wrap;
//         }

//         .title-offer {
//             font-size: 28px;
//             font-weight: 500;
//         }
//     }

//     .center-class {
//         text-align: center;
//     }

//     ion-card.content-info {
//         border-radius: 0;

//         ion-button {
//             margin: 30px 15px;
//             font-weight: bold;
//             height: 40px;
//             text-transform: capitalize;

//             .edit-btn {
//                 margin: 0 !important;
//             }

//             span {
//                 color: white;
//             }
//         }
//     }

//     ion-card-content {
//         h4.margin {
//             margin: 30px;
//         }

//         .custom-title {
//             color: #466B6E;
//             font-weight: 500;
//             font-size: 20px;
//             text-transform: uppercase;
//         }

//         .custom-subtitle {
//             color: gray;
//             font-weight: 500;
//             font-size: 20px;
//         }
//     }

//     ion-fab-button {
//         width: 45px;
//         height: 45px;
//         box-shadow: none !important;
//     }

//     .margin-fab-btn {
//         margin: 15px 50px;
//     }

//     .exp-title {
//         h3 {
//             font-weight: bold;
//             margin-top: 25px;
//         }

//         h5 {
//             margin-bottom: 25px;
//         }
//     }

//     ion-label ion-chip {
//         background-color: white;
//         color: #9FC6BA;
//         font-size: 16px;
//         font-weight: 500;
//         height: min-content;
//         text-align: left;
//         border-color: #9FC6BA;
//         border-style: solid;
//         border-width: 0.82px;
//         border-radius: 49px;
//         padding-top: 14px;
//         padding-bottom: 14px;
//         padding-left: 39px;
//         padding-right: 39px;
//         cursor: default;
//     }
// }

// .text-space {
//     white-space: normal;
// }

// .custom-icon {

//     ion-icon {
//         width: 25px;
//         height: 25px;
//         vertical-align: middle;
//     }

//     ion-label {
//         color: #5a7266;
//     }

//     span {
//         margin-left: 5px;
//         font-size: 16px;
//     }
// }

// @media (min-width: 1020px) {

//     .content-container-inner {
//         ion-card-content {
//             padding: 30px;
//         }
//     }
// }

// @media (max-width: 1020px) {

//     ion-row.offerList {
//         display: grid;
//     }

// }