
@if(userInfo){
  <umu-default-layout [user]="userInfo" class="ion-page">
    <umu-info-card extTitle="offer">
      <div class="grid-container">
        <div class="header">
          <umu-title type="h1">{{currentOffer.title}}</umu-title>
          <div class="candidates flex-row">
            <umu-mini-tag [info]="peopleEnrolled" iconName="people" class="people-enrolled"></umu-mini-tag>
            <span> {{'registered-people' | translate }}</span>
          </div>
        </div> 
        <umu-info-tags-list [tagsList]="tagsList"></umu-info-tags-list> 
        <umu-range [value]="currentOffer.match" title="compatibility-level"></umu-range> 
        <umu-info-text title="requirements">{{currentOffer.requirements | translate }}</umu-info-text>
        <umu-info-text title="description2">{{currentOffer.description | translate }}</umu-info-text>
        <div class="flex-row center">
          @if(!isEnrolled){
            <umu-text-button 
              (click)="addEnrrolled(currentOffer._id)"
               cy-data="sign-me-up"
            >{{'sign-me-up' | translate}}
            </umu-text-button>
          }
          @else {
            <umu-text-button
              (click)="removeCandidate(currentOffer._id)"
               cy-data="remove"
            >{{'remove-offer' | translate }}</umu-text-button>
          }
        </div>
      </div>
      
      
    </umu-info-card>
  </umu-default-layout>
}