<ion-row>
    <ion-col class="ion-padding-vertical">

        <ion-text>{{ 'project-funded' | translate }}</ion-text>

        <div class="content-logo separator">
            <img src="../../../assets/img/Logo-generalitat-colour.png" alt="Generalitat logo"
                class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-gob-color.png" alt="Govern logo" class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-eu-black.png" alt="EU logo" class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-Plan-color.png" alt="EU logo" class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-facto-black.png" alt="Facto logo" class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-ecooo-black.png" alt="Ecooo logo" class="footer-logo legalinfo">
            <img src="../../../assets/img/Logo-tazebaez-black.png" alt="Logo-tazebaez-black logo"
                class="footer-logo legalinfo">
        </div>
        <h2 style="font-weight: 900;">{{'li-title' | translate }}</h2>
        <div class="ion-subtitle">{{'li-subtitle-1' | translate }}</div>
        <ion-text>{{'li-1-p-1' | translate }}</ion-text>
        <ion-text>{{'li-1-p-1-bis' | translate }}</ion-text>
        <ion-text>
            {{'li-1-p-2' | translate }}
            <hr>
            {{'li-1-p-3' | translate }}
            <hr>
            {{'li-1-p-4' | translate }}
        </ion-text>
        <div class="ion-subtitle">{{'li-subtitle-2' | translate }}</div>

        <ion-text>{{'li-2-p-1' | translate }} </ion-text>
        <ion-text>{{'li-2-p-2' | translate }}</ion-text>
        <ion-text>{{'li-2-p-3' | translate }}</ion-text>
        <ion-text>{{'li-2-p-4' | translate }}</ion-text>
        <ion-text class="bold">
            {{'li-2-s-1' | translate }}
        </ion-text>
        <ion-text>{{'li-2-p-5' | translate }}</ion-text>
        <ion-text>{{'li-2-p-6' | translate }}</ion-text>
        <ion-text>
            <ul>
                <li>{{'li-2-p-6-1' | translate }}</li>
                <hr>
                <li>{{'li-2-p-6-2' | translate }}</li>
                <hr>
                <li>{{'li-2-p-6-3' | translate }}</li>
                <hr>
                <li>{{'li-2-p-6-4' | translate }}</li>
            </ul>
        </ion-text>
        <ion-text>{{'li-2-p-7' | translate }}</ion-text>
        <ion-text>{{'li-2-p-8' | translate }}</ion-text>
        <div class="ion-subtitle">{{'li-subtitle-3' | translate }}</div>

        <ion-text>{{'li-3-p-1' | translate }}</ion-text>
        <ion-text>{{'li-3-p-2' | translate }}</ion-text>
        <ion-text>{{'li-3-p-3' | translate }}</ion-text>
        <ion-text>{{'li-3-p-4' | translate }}</ion-text>

        <div class="ion-subtitle">{{'li-subtitle-4' | translate }}</div>

        <ion-text>{{'li-4-p-1' | translate }}</ion-text>
        <ion-text>{{'li-4-p-2' | translate }}</ion-text>
        <ion-text>{{'li-4-p-3' | translate }}</ion-text>
        <ion-text>{{'li-4-p-4' | translate }}</ion-text>
        <ion-text>{{'li-4-p-5' | translate }}</ion-text>
        <ion-text>{{'li-4-p-6' | translate }}</ion-text>

        <div class="ion-subtitle">{{'li-subtitle-5' | translate }}</div>

        <ion-text>{{'li-5-p-1' | translate }}</ion-text>
        <ion-text>{{'li-5-p-2' | translate }} </ion-text>

        <h2 style="font-weight: 900;">{{'li-title-2' | translate }}</h2>
        <ion-text>{{'li-p-1' | translate }} </ion-text>
        <ion-text>{{'li-p-2' | translate }} </ion-text>
        <ion-text>{{'li-p-3' | translate }} </ion-text>
        <ion-text>{{'li-p-4' | translate }} </ion-text>

        <div class="ion-subtitle">{{'li-subtitle-6' | translate }}</div>
        <ion-text>{{'li-6-p-1' | translate }} </ion-text>

        <div class="ion-subtitle">{{'li-subtitle-7' | translate }}</div>
        <ion-text>{{'li-7-p-1' | translate }} </ion-text>

        <h2 style="font-weight: 900;">{{'li-title-3' | translate }}</h2>

        <div class="ion-subtitle">{{'li-subtitle-8' | translate }}</div>
        <ion-text>{{'li-8-p-1' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-1' | translate }} </ion-text>
        <ion-text>{{'li-8-p-2' | translate }} </ion-text>
        <ion-text>
            <ul>
                <li>{{'li-8-p-2-1' | translate }}</li>
                <hr>
                <li>{{'li-8-p-2-2' | translate }}</li>
                <hr>
                <li>{{'li-8-p-2-3' | translate }}</li>
                <hr>
                <li>{{'li-8-p-2-4' | translate }}</li>
            </ul>
        </ion-text>

        <ion-text class="bold">{{'li-8-s-2' | translate }} </ion-text>
        <ion-text>{{'li-8-p-3' | translate }} </ion-text>
        <ion-text>
            {{'li-8-p-4' | translate }}
            <hr>
            {{'li-8-p-5' | translate }}
            <hr>
            {{'li-8-p-6' | translate }}
        </ion-text>

        <ion-text class="bold">{{'li-8-s-3' | translate }} </ion-text>
        <ion-text>{{'li-8-p-7' | translate }} </ion-text>
        <ion-text>{{'li-8-p-8' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-4' | translate }} </ion-text>
        <ion-text>{{'li-8-p-9' | translate }} </ion-text>
        <ion-text>
            <ul>
                <li>{{'li-8-p-9-1' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-2' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-3' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-4' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-5' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-6' | translate }}</li>
                <hr>
                <li>{{'li-8-p-9-7' | translate }}</li>
            </ul>
        </ion-text>

        <ion-text class="bold">{{'li-8-s-5' | translate }} </ion-text>
        <ion-text>{{'li-8-p-10' | translate }} </ion-text>


        <ion-text class="bold">{{'li-8-s-6' | translate }} </ion-text>
        <ion-text>{{'li-8-p-11' | translate }} </ion-text>
        <ion-text>{{'li-8-p-12' | translate }} </ion-text>
        <ion-text>{{'li-8-p-13' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-7' | translate }} </ion-text>
        <ion-text>{{'li-8-p-14' | translate }} </ion-text>
        <ion-text>{{'li-8-p-15' | translate }} </ion-text>
        <ion-text>{{'li-8-p-16' | translate }} </ion-text>


        <ion-text class="bold">{{'li-8-s-8' | translate }} </ion-text>
        <ion-text>{{'li-8-p-17' | translate }} </ion-text>
        <ion-text>{{'li-8-p-18' | translate }} </ion-text>



        <ion-text class="bold">{{'li-8-s-9' | translate }} </ion-text>
        <ion-text>{{'li-8-p-19' | translate }} </ion-text>
        <ion-text>{{'li-8-p-20' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-10' | translate }} </ion-text>
        <ion-text>{{'li-8-p-21' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-11' | translate }} </ion-text>
        <ion-text>{{'li-8-p-22' | translate }} </ion-text>
        <ion-text>{{'li-8-p-23' | translate }} </ion-text>
        <ion-text>{{'li-8-p-24' | translate }} </ion-text>
        <ion-text>{{'li-8-p-25' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-12' | translate }} </ion-text>
        <ion-text>{{'li-8-p-26' | translate }} </ion-text>
        <ion-text>
            <ul>
                <li>{{'li-8-p-26-1' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-2' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-3' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-4' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-5' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-6' | translate }}</li>
                <hr>
                <li>{{'li-8-p-26-7' | translate }}</li>
            </ul>
        </ion-text>
        <ion-text>{{'li-8-p-27' | translate }} </ion-text>
        <ion-text>
            <ul>
                <li>{{'li-8-p-27-1' | translate }}</li>
                <hr>
                <li>{{'li-8-p-27-2' | translate }}</li>
                <hr>
                <li>{{'li-8-p-27-3' | translate }}</li>
                <hr>
                <li>{{'li-8-p-27-4' | translate }}</li>
                <hr>
                <li>{{'li-8-p-27-5' | translate }}</li>
            </ul>
        </ion-text>

        <ion-text>{{'li-8-p-28' | translate }} </ion-text>
        <ion-text>
            {{'li-8-p-29' | translate }}
            <hr>
            {{'li-8-p-30' | translate }}
        </ion-text>

        <ion-text class="bold">{{'li-8-s-13' | translate }} </ion-text>
        <ion-text>{{'li-8-p-31' | translate }} </ion-text>

        <ion-text class="bold">{{'li-8-s-14' | translate }} </ion-text>
        <ion-text>{{'li-8-p-32' | translate }} </ion-text>

        <div class="ion-subtitle">{{'li-subtitle-9' | translate }}</div>
        <ion-text>{{'li-9-p-1' | translate }} </ion-text>
        <ion-text>{{'li-9-p-2' | translate }} </ion-text>
        <ion-text>{{'li-9-p-3' | translate }} </ion-text>

    </ion-col>
</ion-row>