<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="filter" customIconName="filter">
    <form [formGroup]="filters">
        <div class="flex-column">
          <umu-select-checkbox
            labelId="created-date"
            [formGroup]="filters"
            [options]="createdDateOptions"
            [onClear]="onClear"
            (selectedValues)="setValues($event, 'createdDate')">
          </umu-select-checkbox>
    
          <umu-select-dropdown 
            labelId="city" 
            name="city"
            placeholderId="select"
            [multiple]="true"
            [control]="controls.city"
            [optionsTranslated]="finalCityList"
            variant="modal">
          </umu-select-dropdown>

          <umu-select-dropdown 
            labelId="sectors" 
            name="sector"
            placeholderId="select"
            [multiple]="true"
            [control]="controls.sector"
            [optionsTranslated]="translatedAndOrderedSectors"
            variant="modal">
          </umu-select-dropdown>

          <umu-select-checkbox
            labelId="status"
            [formGroup]="filters"
            [options]="statusOptions"
            [onClear]="onClear"
            (selectedValues)="setValues($event, 'status')">
          </umu-select-checkbox>
        </div>
      </form>
    <div class="grid-container" footer>
        <umu-text-button 
            minWidth="100%" 
            (click)="onFilter()">{{ 'results' | translate }}
        </umu-text-button>
        <umu-text-button 
            minWidth="100%" 
            (click)="clearFilters()">{{ 'clear-filters' | translate }}
        </umu-text-button>
    </div>
</umu-modal>