<div [class]="tags.size > 0 ? 'container has-tags' : 'container'">
    <label [for]="name()">{{ labelId() | translate }}</label>
    @if(variant() === 'modal'){
        @if(message()){
            <div class="errors">
                <p class="error">* {{ message() | translate }}</p>
            </div>
        } @else {
            <div class="errors">
                <p class="error">* {{ 'min-competences' | translate }}</p>
            </div>
        }
        
    }
    <div class="tags">
        @for (tag of tags; track $index) {
            <div class="tag">
                <ion-icon (click)="remove(tag)" name="close-outline"></ion-icon>
                {{ tag | translate }}
            </div>
        }
    </div>
    <div class="input-container">
        <input 
            type="text" 
            [name]="name()" 
            [id]="name()" 
            (input)="updateSuggestions($event)" 
            (keyup.enter)="add($any($event).target.value)"
            placeholder="{{placeholderId() | translate}}"
            #input
        >
        <div class="suggestion-box">
            @for (suggestion of suggestions; track $index) {
                <p (click)="add(suggestion)">
                    {{ suggestion | translate }}
                </p>
            }
        </div>
    </div>
    @if(variant() !== 'modal'){
        <div class="errors">
            <p class="error">* {{ 'min-competences' | translate }}</p>
        </div>
    }
   
</div>