.container.has-tags {
    gap: 1.5rem;
}
.container {
    display: grid; 
    justify-items: center; 
    gap: .5rem;
    
    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        .tag {
            font-size: 20px; 
            cursor: pointer;
            display: flex;
            padding: 6px 20px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            border-radius: 60px;
            background: var(--ion-color-tertiary);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
            color: var(--ion-color-text);
        
        }
    }

    .input-container {
        position: relative;
    }

    input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #33657F;
        text-align: center;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        background-color: transparent;
        height: 56px;
        padding: 10px 60px;
        gap: 10px;
        border-radius: 18px;
        margin: 0 auto !important;
    }
    
    ::placeholder {
        opacity: 100%;
    }

    .suggestion-box {
        position: absolute;
        top: 100%;
        z-index: 10;
        width: 100%;
        max-height: 20vh;
        background-color: white;
        overflow-y: scroll;
        border-radius: 18px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        p {
            text-align: center;
            margin: 0 auto;
            padding: .5rem 0;

            &:hover {
                background-color: #add3cf;
            }
        }
    }
    
    .errors {
        margin: 0 !important;
    }
}

:host[variant='modal']{
    .container {
        position: relative;
        justify-content: start;
    }

    label {
        color: var(--ion-color-text);
        font-size: 20px;
        font-weight: 600;
        width: 100%;
    }

    .input-container {
        width: 100%;
    }

    input[id='tag'] {
        width: 100%;
    }

    .error {
        margin-top: 0;
        color: var(--ion-color-text);
    }
}

