/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    --ion-background-color: var(--ion-color-dark-upmeup); 
    ion-button { --border-radius: 25px !important; margin-left: 15px; margin-right: 15px; margin-bottom: 30px; font-weight: bold; height: 40px; }

    h4.margin { margin: 30px;} 
    .custom-title {font-weight: 400; font-size: 24px; }

    ion-text{
        font-size: 16px;
    }
}