<umu-modal [isOpen]="isOpen()" (onClose)="onCloseHandler()" title="create-project" customIconName="offer" [backdropDismiss]="false">
    <form [formGroup]="form">
        <div class="flex-column">
            <umu-text-field
                labelId="title"
                placeholderId=""
                name="title"
                [required]="true"
                [minLength]="titleMinLength"
                [maxLength]="titleMaxLength"
                [control]="controls.title"
                variant="modal"
            ></umu-text-field>
            <umu-text-field
                labelId="description2"
                placeholderId=""
                name="description"
                [required]="true"
                [minLength]="descriptionMinLength"
                [maxLength]="descriptionMaxLength"
                [control]="controls.description"
                variant="modal"
            ></umu-text-field>
            <umu-select-dropdown 
                labelId="sectors" 
                name="sector"
                placeholderId="select"
                [multiple]="true"
                [control]="controls.sector"
                [optionsTranslated]="translatedAndOrderedSectors"
                variant="modal">
            </umu-select-dropdown>
            <umu-select-dropdown 
                labelId="status" 
                name="status"
                [required]="true"
                [control]="controls.status"
                [options]="statusOptions"
                variant="modal"
            ></umu-select-dropdown>
            <umu-tag-input
                labelId="skills"
                name="tag"
                placeholderId="skills-ph"
                [autocomplete]="competenciesNames"
                [errorMinTags]="errorMinTags"
                (onAdd)="addCompetency($event)"
                (onDelete)="removeCompetency($event)"
                variant="modal"
            ></umu-tag-input>
            <umu-select-dropdown 
                labelId="city" 
                name="city"
                [required]="true"
                [control]="controls.city"
                [optionsTranslated]="translatedAndOrderedCities"
                variant="modal"
            ></umu-select-dropdown>
            <umu-select-dropdown 
                labelId="values" 
                name="softskills"
                [required]="true"
                [multiple]="true"
                [control]="controls.softskills"
                [optionsTranslated]="finalSkillsList"
                variant="modal"
            ></umu-select-dropdown>
            <umu-tag-input
                labelId="administrators"
                name="tag"
                message="shared-admin-mail"
                placeholderId="email"
                [autocomplete]="usersList"
                [errorMinTags]="errorMinTags"
                (onAdd)="addAdmin($event)"
                (onDelete)="removeAdmin($event)"
                variant="modal"
            ></umu-tag-input>
            <div class="flex-column info">
                <label>{{'additional-info' | translate }}:</label>
                <umu-text-button color="background" (click)="openInfoAlert()">{{'select-file' | translate }}</umu-text-button> 
            </div>
            <umu-upload-file-alert
                [isOpen]="isOpenInfoAlert"
                fileType="CV"
                (onClose)="onCloseInfoAlert()"
            ></umu-upload-file-alert>
        </div>
    </form>
    <div class="grid-center ion-no-border" footer>
        <umu-text-button
            (click)="createProject()" 
            [enabled]="form.valid && !errorMinTags"
        >{{'publish' | translate }}</umu-text-button>
    </div>
</umu-modal>