<umu-default-layout class="ion-page">
  <ion-row>
    <ion-col>
      <umu-title type="h4">{{'your-applications' | translate }}</umu-title>
    </ion-col>
  </ion-row>
  @if(myCandidatures.length > 0){
    <umu-offer-filters-modal [isOpen]="isModalOpen" (onClose)="onCloseEvent()"></umu-offer-filters-modal>
    <umu-card-list [items]="myCandidatures"></umu-card-list>
    <umu-infinite-scroll [items]="myCandidatures" (onNewPage)="onNewPageHanlder($event)" [currentPage]="currentPage"></umu-infinite-scroll>
  } @else {
    <ion-row>
      <ion-col>
        <span>{{'no-candidatures' | translate}} </span>
      </ion-col>
    </ion-row>
  }
</umu-default-layout>
