:host {
    display: block;
}

.flex-row {
    display: flex;
    gap: 2rem;
    flex-flow: wrap;

    span {
        padding-top: .1rem;
    }
}
.tag {
    gap: .5rem;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
}