<div class="flex-row">
    @for(tag of tagsList(); track tag){
        @if(tag.label){
            <div class="flex-row tag">
            <img class="icon" [src]="'../../../assets/icons/' + tag.iconName + '.svg'" />
            @if(tag.iconName === 'calendar'){
                <span>{{tag.label |  date:'dd/MM/yyyy' }}</span>
            } @else {
                <span>{{tag.label | translate }}</span> 
            }     
            </div>   
        }       
    }
</div>