<form [formGroup]="form" class="grid-container">
  <div class="grid-center">
    <label>{{ 'image' | translate }}</label>
    <umu-avatar (onUpdateAvatar)="onUpdateAvatar($event)" [isEditable]="true"></umu-avatar>
    <p>* {{'recommended-size' | translate }}50x50px</p>
  </div>
  
  <umu-text-field
    labelId=""
    placeholderId="name"
    name="name"
    [required]="true"
    [minLength]="nameMinLength"
    [maxLength]="nameMaxLength"
    [control]="controls.name"
  ></umu-text-field>

  <umu-text-field
    labelId=""
    placeholderId="surname"
    name="surname"
    [required]="true"
    [minLength]="nameMinLength"
    [maxLength]="nameMaxLength"
    [control]="controls.surname"
  ></umu-text-field>

  <umu-select-dropdown
    labelId="residence-city"
    placeholderId="select"
    name="city"
    [optionsTranslated]="translatedAndOrderedCities"
    [required]="true"
    [maxLength]="80"
    [control]="controls.city"
  ></umu-select-dropdown>
</form>