  @if(isTextBtn()) {
    <umu-text-button 
      [color]="color"
      (click)="chatService.openChat(recipient()._id)" 
      cy-data="chat-bubble"
      [shape]="shape"
      size="large"
    >
      {{ 'chat' | translate }}
    </umu-text-button>
} @else {
    <umu-fab-button 
      [horizontal]="horizontal"
      [slot]="slot"
      [vertical]="vertical"
      (click)="chatService.openChat(recipient()._id)" 
      cy-data="chat-bubble"
    >
      <ion-icon [name]="iconName"></ion-icon>
    </umu-fab-button>
}

