ion-select.ng-invalid.ng-touched {
    border: groove 1px red;
}

ion-select {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 2rem;
}

:host[variant='modal'] {
    
    ion-select {
        background-color: rgba(234, 234, 234, 1) ;
        border-radius: 60px;
        padding: 18px 3rem;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        border: 0;
        text-align: center;
        outline: none;
        font-size: 16px;
        color: var(--ion-color-contrast-accent); 
        z-index: 1;    
        margin-bottom: 0;
    }
    
    ion-select::part(icon) {
        position: absolute;
        right: 0;
    }
    
    label {
        display: block;
        color: var(--ion-color-text);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
}
