<label>{{(labelId() | translate) + (variant() == 'modal' && required() ? ' *' : '') }}</label>
<ion-select 
  class="form-text" 
  interface="action-sheet"
  cancelText="{{'cancel' | translate}}" 
  placeholder="{{ placeholderId() | translate }}..."
  [multiple]="multiple()"
  [formControlName]="name()"
  [minlength]="minLength()"
  [maxlength]="maxLength()"
  [required]="required()"
>
  @if(options().length > 0){
    @for(option of options(); track option){
        <ion-select-option value="{{option}}">{{ option | translate }}</ion-select-option>
    }
  }
  @if(optionsTranslated().length > 0){
    @for(option of optionsTranslated(); track option){
        <ion-select-option value="{{option.value}}">{{ option.label }}</ion-select-option>
    }
  }
</ion-select>
<div class="errors">
  @if(control().hasError('required') && control().touched){
    <p class="error ">* {{ 'required-field' | translate }}</p>
  }
</div>