<label>{{labelId() | translate }}</label>
<textarea 
  [id]="name()"
  placeholder="{{ placeholderId() | translate }}"
  [maxlength]="maxLength()"
  [rows]="rows()"
  [cols]="cols()"
  [required]="required()"
  [formControlName]="name()"
  class="{{name() == 'lastJobTasks' ? 'auto' : '' }}"
></textarea>
<div class="errors">
  @if(control().hasError('required')){
    <p class="error ">* {{ 'required-field' | translate }}</p>
  }
  @if(control().hasError('minlength')){
    <p class="error ">* {{'min-max' | translate: { min: minLength(), max: maxLength() } }}</p>
  }
  @if(control().hasError('maxlength')){
    <p class="error ">* {{'min-max' | translate: { min: minLength(), max: maxLength() } }}</p>
  }
</div>